<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title></title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link rel="stylesheet" href="../css/web.css"/>
</head>
<body class="classes">
<!--模板输出位置-start-->
<div id="out_header"></div>
<div id="out_banner"></div>
<div id="out_nav"></div>
<div id="out_fixbar"></div>
<div id="out_modules"></div>
<div id="out_footer"></div>
<!--模板输出位置-end-->
<!--header模板-start-->
<script id="tmpl_header" type="text/html">
<div id="anchor_header" class="m m-header" style="background-color: #f5f5f5;">
    <div class="m-wrapin">
        <div class="main row">
            <div class="col-left">
                <a href="javascript:;"><img src="{{ logo_rsurl | link: 'image' }}" width="120" height="35" alt=""/></a>
            </div>
            <div id="out_login" class="col-right btn-wrap"></div>
        </div>
    </div>
</div>
</script>
<!--header模板-end-->

<!--login模板-start-->
<script id="tmpl_login" type="text/html">
{{if status != 1}}
<a href="{{ '' | link: 'login'}}"><i class="icon-login"></i>查看订单</a>
|
<a href="{{ '' | link: 'login'}}"><i class="icon-login"></i>登录</a>
|
<a href="{{ '' | link: 'login'}}"><i class="icon-register"></i>注册</a>
{{else}}
<a href="{{ '' | link: 'order'}}"><i class="icon-login"></i>查看订单</a>
|
<a href="javascript:;"><i class="icon-login"></i>{{cname || mobile || ''}}</a>
|
<a href="javascript:logout();"><i class="icon-register"></i>注销</a>
{{/if}}
</script>
<!--login模板-end-->

<!--banner模板-start-->
<script id="tmpl_banner" type="text/html">
{{if header && header.resourceinfoList}}
<!--焦点图-start-->
<div class="m m-banner" style="{{header.background_color ? 'background:' + header.background_color : ''}}">
    {{if header.showLinkBox}}
    <div class="linkbox">
        <a class="link" href="{{header.url | link: ''}}" title="返回企业网厅">&nbsp;</a>
    </div>
    {{/if}}
    <div class="slideBox">
        <div class="bd">
            <ul>
                {{each header.resourceinfoList as item}}
                <li style="background:url('{{item.path | link: 'image' }}{{item.file_name}}') center 0 no-repeat;"><!--<a href="javascript:;"></a>--></li>
                {{/each}}
            </ul>
        </div>
        <div class="hd">
            <ul>
                {{each header.resourceinfoList as item}}
                <li>{{$index}}</li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>
<!--焦点图-end-->
{{/if}}
</script>
<!--banner模板-end-->

<!--tags模板-start-->
<script id="tmpl_nav" type="text/html">
{{if list[0].display == 1}}
<!--导航栏-start-->
<div class="m m-nav">
    <div class="m-wrapin">
        <div class="main row">
            <div class="col-left">{{ tag_name }}</div>
            <div class="col-center" style="{{background_color ? 'background:' + background_color : ''}}">
                <table cellspacing="0" cellpadding="0">
                    <tr>
                        {{each list as item}}
                        <td><a class="{{ tag_id == item.id ? 'on' : '' }}" href="javascript:showTag({{item.id}});">{{item.tag_name}}</a></td>
                        {{/each}}
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="placeholder h-30" style="{{background_color ? 'background:' + background_color : ''}}"></div>
</div>
<!--导航栏-end-->
{{/if}}
</script>
<!--tags模板-end-->

<script id="tmpl_fixbar" type="text/html">
<!--悬浮导航-start-->
<div class="m m-fixbar">
    <div class="m-wrapin">
        <!--<div class="main">-->
        <div class="fixbar-main widget-fixbar" style="top: 30px;">
            <div><img src="../images/activity-02-25.png" alt=""></div>
            <ul>
                {{each fixedList as item}}
                <li class="{{$index == 0 ? 'on' : ''}}">
                    <a href="javascript:toAnchor('anchor_{{item.id}}');" class="widget-anchor">{{item.tag_name}}</a>
                </li>
                {{/each}}
                {{if isShowFAQ}}
                <li>
                    <a href="javascript:toAnchor('anchor_faq');" class="widget-anchor">活动FAQ</a>
                </li>
                {{/if}}
                <li>
                    <a href="javascript:toAnchor('anchor_footer');" class="widget-anchor">更多关注</a>
                </li>
            </ul>
            <div class="anchor-top"><a href="javascript:toAnchor('anchor_header');" class="widget-anchor"><img src="../images/activity-02-26.png" alt=""></a></div>
        </div>
        <!--</div>-->
    </div>
</div>
<!--悬浮导航-end-->
</script>

<!--循环输出内容模块模板-start-->
<script id="tmpl_modules" type="text/html">
{{if modules}}
{{each modules as module}}
<div id="{{ module.resourceinfoList[0].child_tags_id ? 'anchor_' + module.resourceinfoList[0].child_tags_id : '' }}" class="m" style="{{module.background_color ? 'background:' +  module.background_color : ''}}">
    <div class="m-wrapin">

        {{if module.type == 1}}
        <!--顶部模块-start-->
        <!--顶部模块-end-->
        {{else if module.type == 2}}
        <!--底部模块-start-->
        <!--底部模块-end-->
        {{else if module.type == 3}}
        <!--单产品展示模块-start-->
        <div class="main bgc-aphla-15">
            {{if module.needSupply }}
            <div class="placeholder h-20"></div>
            {{/if}}
            <dl class="unit-imgtext v1">
                <dd>
                    <a href="{{ module.url | link: 'ticket' }}" target="_blank">
                        <img src="{{ module.pic_rsurl | link: 'image' }}" alt=""/>
                        {{if module.resourceinfoList[0].sale_rule_type}}
                        <!--优惠规则标签-start-->
                        <div class="tips-1">
                            <p>{{module.resourceinfoList[0] | sale_rule: 0}}</p>

                            <p>{{module.resourceinfoList[0] | sale_rule: 1}}</p>
                        </div>
                        <!--优惠规则标签-end-->
                        {{/if}}
                    </a>
                </dd>
                <dt>
                    <div class="product-single">
                        <div class="wrapin">
                            <div class="title" title="{{module.resourceinfoList[0].ticket_name}}">
                                {{module.resourceinfoList[0].ticket_name}}
                            </div>
                            <div class="subtitle" title="{{module.resourceinfoList[0].ticket_tag}}">
                                {{module.resourceinfoList[0].ticket_tag}}
                            </div>
                            <div class="date row">
                                <div class="col-left">出游日期：</div>
                                <div class="col-center" title="{{module.resourceinfoList[0].tour_times}}">{{module.resourceinfoList[0].tour_times}}</div>
                            </div>
                            <div class="market_price mgt-10">
                                市场价：<del>¥{{module.resourceinfoList[0].market_price}}</del>
                            </div>
                            <div class="member_price">
                                会员价：<span class="wd-focus"><span class="sign-price">¥</span><span class="fsz-32 fw-b">{{module.resourceinfoList[0].sale_price}}</span></span>
                            </div>
                        </div>
                        <div class="btn-wrap">
                            <a class="btn white" href="{{ module.url | link: 'ticket' }}" target="_blank">立即购买</a><span class="buy-tips">VIP再减{{module.resourceinfoList[0].sale_price - module.resourceinfoList[0].member_price}}元</span>
                        </div>
                    </div>
                </dt>
            </dl>
        </div>
        <!--单产品展示模块-end-->
        {{else if module.type == 4}}
        <!--多产品展示模块-start-->
        <div class="main bgc-aphla-15">
            <div class="split-list v3 mgl-20">
                <!--Repeater-start-->
                {{each module.resourceinfoList as item}}
                <div class="split-item">
                    <dl class="unit-imgtext v2">
                        <dd>
                            <a href="{{item.click_url | link: 'ticket'}}"><img src="{{item.path | link: 'image' }}{{item.file_name}}" alt=""/></a>
                            {{if item.sale_rule_type}}
                            <!--优惠规则标签-start-->
                            <div class="tips-1">
                                <p>{{item | sale_rule: 0}}</p>

                                <p>{{item | sale_rule: 1}}</p>
                            </div>
                            <!--优惠规则标签-end-->
                            {{/if}}
                        </dd>
                        <dt>
                            <!--编辑区域-start-->
                            <div class="editinfo classes">
                                <div class="fsz-small" style="margin:15px; line-height: 30px;">
                                    <div>{{item.ticket_name}}</div>
                                    <div class="member_price">会员价：<span class="wd-focus"><span class="sign-price">¥</span><span
                                            style="font-size: 24px;margin-right: 15px;">{{item.sale_price}}</span></span><span
                                            class="tag bgc-green fsz-min">VIP再减{{item.sale_price - item.member_price}}元</span></div>
                                    <div class="market_price">
                                        市场价：<del>¥{{item.market_price}}</del>
                                    </div>
                                    <div><a class="btn red full" href="{{item.click_url | link: 'ticket'}}" target="_blank">立即购买</a></div>
                                </div>
                            </div>
                            <!--编辑区域-end-->
                        </dt>
                    </dl>
                </div>
                {{/each}}
                <!--Repeater-end-->
            </div>
        </div>
        <!--多产品展示模块-end-->
        {{else if module.type == 5}}
        <!--抽奖模块-start-->
        <!--抽奖模块-end-->
        {{else if module.type == 6}}
        <!--微信模块-start-->
        <div class="juan_box">
            <div class="juan_1" style="font-size: 28px;font-weight: bolder;margin-bottom:5px;width: 160px ">
                {{# module.title}}
            </div>
            <div class="juan_2">
                 {{# module.content}}
            </div>
            <div class="juan_3"><img src="{{module.pic_rsurl | link: 'image'}}" width="120" height="120"></div>
        </div>
        <!--微信模块-end-->
        {{else if module.type == 7}}
        <!--自定义模块-start-->
        <div class="main bgc-aphla-15 editinfo classes">
            {{# module.content }}
        </div>
        <!--自定义模块-end-->
        {{else if module.type == 12}}
        <!--常见问题模块-start-->
        <!--常见问题模块-end-->
        {{else if module.type == 13}}
        <!--单产品自定义模块-start-->
        <div class="main bgc-aphla-15">
            <dl class="unit-imgtext v1">
                <dd>
                    <a href="{{ module.url | link: 'ticket' }}" target="_blank">
                        <img src="{{ module.pic_rsurl | link: 'image' }}" alt=""/>
                        <!--如果没有销售规则，则不显示这个标签-->
                        {{if module.resourceinfoList[0].sale_rule_type}}
                        <!--Mark-1-start-->
                        <div class="tips-1">
                            <p>{{module.resourceinfoList[0] | sale_rule: 0}}</p>

                            <p>{{module.resourceinfoList[0] | sale_rule: 1}}</p>
                        </div>
                        <!--Mark-1-end-->
                        {{/if}}
                        {{if module.hasFixedLayer}}
                        <div class="imginfo">
                            <div class="fsz-small" style="margin:5px 15px 5px; line-height: 26px;color: #fff;">
                                <div>{{module.resourceinfoList[0].ticket_name}}</div>
                                <div>会员价：<span class="wd-focus"><span class="sign-price">¥</span><span
                                        style="font-size: 24px;margin-right: 15px;">{{module.resourceinfoList[0].sale_price}}</span></span><span
                                        class="tag bgc-green fsz-min">VIP再减{{module.resourceinfoList[0].sale_price - module.resourceinfoList[0].member_price}}元</span></div>
                            </div>
                        </div>
                        {{/if}}
                    </a>
                </dd>
                <dt>
                <!--编辑区域-start-->
                <div class="editinfo classes">
                    {{# module.content }}
                </div>
                <!--编辑区域-end-->
                </dt>
            </dl>
        </div>
        <!--单产品自定义模块-end-->
        {{else if module.type == 14}}
        <!--多产品自定义模块-end-->
        <div class="main bgc-aphla-15">
            <div class="split-list v3" style="margin-left: 20px;">
                <!--Repeater-start-->
                {{each module.resourceinfoList as item}}
                <div class="split-item">
                    <dl class="unit-imgtext v2">
                        <dd>
                            <a href="{{item.click_url | link: 'ticket'}}"><img src="{{item.path | link: 'image' }}{{item.file_name}}" alt=""/></a>
                            {{if item.sale_rule_type}}
                            <!--优惠规则标签-start-->
                            <div class="tips-1">
                                <p>{{item | sale_rule: 0}}</p>

                                <p>{{item | sale_rule: 1}}</p>
                            </div>
                            <!--优惠规则标签-end-->
                            {{/if}}
                        </dd>
                        <dt>
                            <!--编辑区域-start-->
                        <div class="editinfo classes">
                            {{# item.content}}
                        </div>
                        <!--编辑区域-end-->
                        </dt>
                    </dl>
                </div>
                {{/each}}
                <!--Repeater-end-->
            </div>
        </div>
        <!--多产品自定义模块-end-->
        {{else}}
        <!--模块未定义-->
        {{/if}}
    </div>
</div>
{{/each}}
{{/if}}

</script>
<!--循环输出内容模块模板-end-->
<!--footer模板-start-->
<script id="tmpl_footer" type="text/html">
{{if faq}}
<!--活动FAQ-start-->
<div id="anchor_faq" class="m m-faq bgc-green-1" style="{{faq.background_color ? 'background:' + faq.background_color : ''}}">
    <div class="placeholder h-20"></div>
    <div class="m-wrapin">
        <div class="main" style="background: #fff;">
            <img src="../images/activity-02-12.png" alt=""/>
            <div class="placeholder h-20"></div>
        </div>
    </div>
    <div class="m-wrapin">
        <div class="main editinfo classes" style="background: #fff;">
            <div class="pd-20">
                {{# faq.content }}
            </div>
            <div class="placeholder h-20"></div>
        </div>
    </div>
    <div class="placeholder h-20"></div>
</div>
<!--活动FAQ-end-->
{{/if}}
{{if footer}}
<!--二维码-start-->
<div id="anchor_footer" class="m m-qrcode bgc-red" style="{{footer.background_color ? 'background:' + footer.background_color : ''}}">
    <div class="placeholder h-50"></div>
    <div class="m-wrapin">
        <div class="main">
            <img src="../images/activity-02-13.png" alt=""/>
        </div>
    </div>
    <div class="placeholder h-50"></div>
    <div class="m-wrapin">
        <div class="main">
            <img src="{{ footer.pic_rsurl | link: 'image'}}" alt=""/>
        </div>
    </div>
    <div class="placeholder h-60"></div>
</div>
<!--二维码-end-->
{{/if}}
</script>
<!--footer模板-end-->
<script src="../js/lib/template.js"></script>
<script src="../js/lib/jquery-1.11.1.js"></script>
<script src="../js/lib/jquery.SuperSlide.2.1.1.js"></script>
<script src="../js/common.js"></script>
<script src="../js/web.js"></script>
</body>
</html>