@import "editinfo.css";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]),
[hidden] {
  display: none;
}
table {
  border-collapse: collapse;
}
/* 排版 */
fieldset {
  margin: 25px 2px;
  padding: 6px 10px 4px;
}
legend {
  margin: 20px 0 10px;
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
  font-size: 1.5rem;
}
fieldset > *:nth-child(n + 2) {
  margin-bottom: 10px;
}
/* /排版 */
.btn {
  display: inline-block;
  margin-bottom: .1em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: .4em 1.2em;
  line-height: 1.5em;
  text-align: center;
  text-decoration: none;
}
.btn.full {
  display: block;
}
.btn.angle {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.tab ul {
  overflow: hidden;
}
.tab ul li {
  float: left;
  width: 33.33%;
  text-align: center;
}
.tab ul li.on {
  font-weight: bold;
}
.tab ul li a {
  display: block;
}
.input-wrapper,
.input-checkbox {
  font-size: 14px;
}
.input-wrapper b,
.input-checkbox b {
  font-weight: normal;
}
.input-wrapper {
  position: relative;
  display: block;
  overflow: hidden;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 8px 10px 78px;
  line-height: 1.5;
  background-color: #fff;
}
.input-wrapper b {
  position: absolute;
  top: 10px;
  left: 0;
  overflow: hidden;
  width: 4em;
  border-right: 1px solid #ccc;
  padding: 0 8px;
}
.input-wrapper input {
  display: block;
  height: 1.5em;
  border: 0;
  padding: 0;
  font-size: 14px;
}
.input-select {
  position: relative;
  display: inline-block;
  overflow: hidden;
  min-width: 3em;
  height: 1.5em;
  line-height: 1.5;
  vertical-align: top;
}
.input-select:after {
  content: '﹀';
  position: absolute;
  top: 3px;
  right: 0;
  display: inline-block;
  width: 14px;
  height: 14px;
}
.input-select-option {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  font-size: 14px;
  text-align: left;
}
.input-select-mask {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}
.input-select-mask-main {
  width: 80%;
  max-height: 80%;
  overflow-y: auto;
  margin-right: auto;
  margin-left: auto;
}
.input-select-mask-main-select {
  border-bottom: 1px solid #ccc;
  padding: 1em;
  background-color: #fcfcfc;
  text-align: center;
  opacity: 1;
  filter: alpha(opacity=100);
}
.input-label {
  line-height: 30px;
}
.input-num,
.input-date {
  display: inline-block;
  font-size: 0;
  vertical-align: top;
  line-height: 30px;
}
.input-text,
.input-btn {
  margin: 0;
  border: 1px solid #ddd;
  padding: 0 5px;
  line-height: 28px;
  font-size: 14px;
  /*vertical-align: middle;*/
  vertical-align: top;
  _display: inline-block;
  _zoom: 1;
}
.input-text {
  height: 28px;
  /*_height: 30px;*/
  /* ie5加这个高度才能对齐 */
  font-size: 14px;
  text-align: left;
}
.input-btn {
  width: 28px;
  height: 30px;
  *margin: 1px 0;
  border-radius: 0;
  font-weight: bold;
  color: #888;
  background-color: #f5f5f5;
  cursor: pointer;
  text-align: center;
}
.input-btn:hover {
  background-color: #e5e5e5;
}
/* 数量文本框 */
.input-num .input-text {
  width: 42px;
  border-left: 0;
  border-right: 0;
  text-align: center;
}
/* 日期文本框 */
.input-date {
  position: relative;
}
.input-date .input-text {
  width: 90px;
  width: 120px \0;
  *width: 120px;
  padding-right: 33px;
  padding-right: 0 \0;
  *padding-right: 0;
}
.input-date .input-btn {
  height: 28px;
  position: absolute;
  top: 50%;
  right: 1px;
  margin-top: -14px;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
}
.js-fixed,
.me-js-fixed {
  position: fixed;
  z-index: 200;
}
.js-noscroll {
  overflow: hidden;
}
.js-hyperlink {
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.js-hyperlink:hover {
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.js-hyperlink.btn {
  -webkit-user-select: auto;
  -moz-user-select: auto;
}
.js-hyperlink.btn:hover {
  background-color: -1;
  opacity: 1;
  filter: alpha(opacity=100);
}
.js-hyperlink.btn img {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  pointer-events: auto;
}
.js-hyperlink img {
  -webkit-user-select: none;
  -moz-user-select: none;
  pointer-events: none;
}
.js-mask {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  text-align: center;
  vertical-align: middle;
}
.js-mask > * {
  text-align: initial;
}
.js-mask .js-mask-x,
.js-mask .js-mask-before {
  display: inline-block;
  width: 0px;
  height: 100%;
  vertical-align: middle;
}
.js-hide {
  display: none !important;
}
.js-relative {
  position: relative !important;
}
.js-inline-block {
  display: inline-block;
}
.btn {
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  padding-right: 2.5em;
  padding-left: 2.5em;
  font-size: 1.4rem;
}
.btn.red {
  box-shadow: 0 0.1em 0 #ec2e2e;
  background-color: #ff6666;
  color: #ffffff;
}
.btn.red:hover {
  background-color: #ec2e2e;
}
.btn.green {
  box-shadow: 0 0.1em 0 #4eb682;
  background-color: #66cc99;
  color: #ffffff;
}
.btn.green:hover {
  background-color: #4eb682;
}
.btn.orange {
  box-shadow: 0 0.1em 0 #d58918;
  background-color: #f8b551;
  color: #ffffff;
}
.btn.orange:hover {
  background-color: #d58918;
}
.btn.gray {
  box-shadow: 0 0.1em 0 #999999;
  background-color: #bbbbbb;
  color: #ffffff;
}
.btn.gray:hover {
  background-color: #999999;
}
.btn.small {
  padding-right: 1em;
  padding-left: 1em;
}
.btn.big {
  display: block;
  padding: .625em;
  font-size: 1.8rem;
}
.btn.big-sradius {
  display: block;
  padding: .625em;
  font-size: 1.8rem;
}
.input-num .input-btn {
  border-color: #f5f5f5;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.input-num .input-btn i {
  color: #3dc05b;
  font-weight: bold;
}
.input-num .input-text {
  width: 24px;
  height: 26px;
  border-color: #f5f5f5;
  border-width: 2px 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
html {
  height: 100%;
  font-family: "Microsoft YaHei";
  font-size: 62.5%;
}
body {
  font-size: 1.4rem;
  background-color: #f5f5f5;
  color: #666666;
  min-height: 100%;
}
input {
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}
a {
  color: #666666;
  text-decoration: none;
}
a img {
  border: 0;
}
a.link,
a:visited {
  color: #666666;
}
a,
input,
button,
select,
textarea {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
@font-face {
  font-family: 'x';
  src: url('../fonts/x.woff?v=1.0') format('woff'), url('../fonts/x.ttf?v=1.0') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.sign {
  display: inline-block;
  min-width: 1em;
  font: normal normal normal 14px/1 x;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  vertical-align: middle;
  text-align: center;
}
.header {
  height: 3.654rem;
  line-height: 3.654rem;
}
.header.dnl {
  height: 9.454rem;
}
.header.dnl .header-wrapin {
  top: 6.3rem;
}
.header-wrapin {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.654rem;
  background-color: #3dc05b;
  color: #ffffff;
  z-index: 200;
}
.header-wrapin h1 {
  font-size: 1.8rem;
  text-align: center;
}
.header-wrapin h1 b {
  margin-left: .2em;
  font-size: 1.2rem;
  font-weight: normal;
}
.header-wrapin a {
  display: inline-block;
  height: 3.654rem;
  padding: 0 .7em;
  color: #ffffff;
}
.header-wrapin a:first-child {
  padding-left: 10px;
}
.header-wrapin a:last-child {
  padding-right: 10px;
}
.header-wrapin .back-wrap {
  position: absolute;
  top: 0;
  left: 10px;
  margin-left: -10px;
}
.header-wrapin .back-wrap .sign {
  margin-right: .2em;
}
.header-wrapin .toolbar {
  position: absolute;
  top: 0;
  right: 10px;
  margin-right: -10px;
}
.header-wrapin .sign {
  font-size: 1.5em;
}
.footer {
  height: 5.6rem;
  line-height: 1;
}
.footer-wrapin {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #ebebeb;
  background-color: #fff;
  z-index: 200;
}
.footer-wrapin ul:before,
.footer-wrapin ul:after {
  display: table;
  content: "";
}
.footer-wrapin ul:after {
  clear: both;
}
.footer-wrapin ul:before,
.footer-wrapin ul:after {
  display: table;
  content: "";
}
.footer-wrapin ul:after {
  clear: both;
}
.footer-wrapin ul:before,
.footer-wrapin ul:after {
  display: table;
  content: "";
}
.footer-wrapin ul:after {
  clear: both;
}
.footer-wrapin ul:before,
.footer-wrapin ul:after {
  display: table;
  content: "";
}
.footer-wrapin ul:after {
  clear: both;
}
.footer-wrapin ul:before,
.footer-wrapin ul:after {
  display: table;
  content: "";
}
.footer-wrapin ul:after {
  clear: both;
}
.footer-wrapin ul li {
  float: left;
  width: 25%;
  margin: 0;
  padding: 0;
}
.footer-wrapin a {
  display: inline-block;
  width: 100%;
  padding: 8px 0;
  text-align: center;
  font-size: 1.2rem;
}
.footer-wrapin a .sign:nth-child(2) {
  display: none;
}
.footer-wrapin a.on {
  color: #3dc05b;
}
.footer-wrapin a.on .sign:nth-child(1) {
  display: none;
}
.footer-wrapin a.on .sign:nth-child(2) {
  display: block;
}
.footer-wrapin a.update:after {
  content: '•';
  position: absolute;
  top: -0.3em;
  left: 50%;
  margin-left: .6em;
  font-size: 1.6em;
  color: red;
}
.footer-wrapin .sign {
  display: block;
  margin-bottom: .2em;
  font-size: 2.1rem;
}
.footer-wrapin.footer-3 ul:before,
.footer-wrapin.footer-3 ul:after {
  display: table;
  content: "";
}
.footer-wrapin.footer-3 ul:after {
  clear: both;
}
.footer-wrapin.footer-3 ul:before,
.footer-wrapin.footer-3 ul:after {
  display: table;
  content: "";
}
.footer-wrapin.footer-3 ul:after {
  clear: both;
}
.footer-wrapin.footer-3 ul:before,
.footer-wrapin.footer-3 ul:after {
  display: table;
  content: "";
}
.footer-wrapin.footer-3 ul:after {
  clear: both;
}
.footer-wrapin.footer-3 ul:before,
.footer-wrapin.footer-3 ul:after {
  display: table;
  content: "";
}
.footer-wrapin.footer-3 ul:after {
  clear: both;
}
.footer-wrapin.footer-3 ul:before,
.footer-wrapin.footer-3 ul:after {
  display: table;
  content: "";
}
.footer-wrapin.footer-3 ul:after {
  clear: both;
}
.footer-wrapin.footer-3 ul li {
  float: left;
  width: 33.33333333%;
  margin: 0;
  padding: 0;
}
html {
  background-color: #c0c0c0;
}
body {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.header-wrapin,
.footer-wrapin,
.js-mask,
.date-fixbar,
.date_mask {
  left: initial;
  max-width: 100%;
}
.body-limit {
  left: initial!important;
  max-width: 100%;
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}
.tab {
  font-size: 1.6rem;
}
.tab ul {
  background-color: #fff;
}
.tab ul li {
  margin: 0.64em 0;
}
.tab ul li.on,
.tab ul li:hover {
  font-weight: normal;
}
.tab ul li.on a,
.tab ul li:hover a {
  border-bottom: 1.5px solid #3dc05b;
  color: #3dc05b;
}
.tab ul li a {
  margin: -0.64em 0;
  border-bottom: 1.5px solid #ccc;
  padding: 0.8em 0;
}
.input-search {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
  font-size: 2.1rem;
  line-height: 1;
}
.input-search .input-search-wrapin {
  display: block;
  margin: 0 2.8rem 0 0.5em;
}
.input-search input[type=text] {
  width: 100%;
  height: 2.1rem;
  padding: 0.7rem 0;
  line-height: 2.1rem;
  border: 0;
  outline: none;
  font-size: 1.4rem;
}
.input-search .sign {
  position: absolute;
  top: 0;
  right: 0;
  width: 3.5rem;
  height: 3.5rem;
  padding: 0 !important;
  line-height: 3.5rem;
  font-size: 2.1rem;
  color: #666666;
}
.row {
  padding: 10px 10px;
}
.row:before,
.row:after {
  display: table;
  content: "";
}
.row:after {
  clear: both;
}
.row:before,
.row:after {
  display: table;
  content: "";
}
.row:after {
  clear: both;
}
.row:before,
.row:after {
  display: table;
  content: "";
}
.row:after {
  clear: both;
}
.row:before,
.row:after {
  display: table;
  content: "";
}
.row:after {
  clear: both;
}
.row:before,
.row:after {
  display: table;
  content: "";
}
.row:after {
  clear: both;
}
.row + .row {
  border-top: 1px solid #e5e5e5;
}
.row .a-expand {
  display: block;
  margin: -10px -10px;
  padding: 10px 10px;
}
.row .a-expand:before,
.row .a-expand:after {
  display: table;
  content: "";
}
.row .a-expand:after {
  clear: both;
}
.row .a-expand:before,
.row .a-expand:after {
  display: table;
  content: "";
}
.row .a-expand:after {
  clear: both;
}
.row .a-expand:before,
.row .a-expand:after {
  display: table;
  content: "";
}
.row .a-expand:after {
  clear: both;
}
.row .a-expand:before,
.row .a-expand:after {
  display: table;
  content: "";
}
.row .a-expand:after {
  clear: both;
}
.row .a-expand:before,
.row .a-expand:after {
  display: table;
  content: "";
}
.row .a-expand:after {
  clear: both;
}
.col-left {
  float: left;
}
.col-right {
  float: right;
}
.col-center {
  overflow: hidden;
}
.title {
  border-bottom: 1px solid #e5e5e5;
  padding: 12px 10px;
  font-size: 1.6rem;
}
.title .remark {
  margin-left: 0;
  font-size: 1rem;
  color: #888888;
}
.title .area,
.title .date {
  margin-left: 10px;
  color: #666666;
}
.title a {
  display: block;
  margin: -12px -10px;
  padding: 12px 10px;
}
.title a.on .sign-expand {
  display: block;
}
.title a.on .sign-collapse {
  display: none;
}
.title .sign-wrap {
  display: inline-block;
  min-width: 1.5em;
}
.title .sign {
  margin-left: -10px;
  font-size: 1.5em;
}
.title .sign-into,
.title .sign-expand,
.title .sign-collapse {
  float: right;
  color: #3dc05b;
}
.title.green,
.title.green a {
  color: #3dc05b;
}
.title.collapse {
  border-bottom: 0;
}
.title.collapse.on {
  border-bottom: 1px solid #e5e5e5;
}
.collapse .sign-expand {
  display: inline-block;
}
.collapse .sign-collapse {
  display: none;
}
.collapse.on .sign-expand {
  display: none;
}
.collapse.on .sign-collapse {
  display: inline-block;
}
.content {
  padding: 10px 10px;
  font-size: 1.4rem;
  line-height: 1.6;
}
.content ul {
  margin-bottom: 2.1em;
}
.content ul li,
.content p {
  margin-bottom: .5em;
}
.price {
  color: #ff6666;
  font-style: normal;
  font-size: 1.8rem;
  font-family: arial, sans-serif;
}
.price:before {
  content: '¥';
  font-size: .6em;
}
.remind {
  color: #3dc05b;
  font-style: normal;
}
.note {
  font-size: .8em;
  font-style: normal;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.note:before {
  content: '(';
}
.note:after {
  content: ')';
}
.notes {
  font-size: .8em;
  font-style: normal;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.delete,
.delete *,
.delete *:before,
.delete *:after {
  font-size: 1.2rem;
  color: #888888;
  text-decoration: line-through;
  font-family: inherit;
}
.focus {
  color: #ff6666;
  font-style: normal;
}
.bold {
  font-weight: bold;
}
.wrapper {
  margin-bottom: 10px !important;
  padding: 10px 10px;
  background-color: #fff;
}
.wrapper:before,
.wrapper:after {
  display: table;
  content: "";
}
.wrapper:after {
  clear: both;
}
.wrapper:before,
.wrapper:after {
  display: table;
  content: "";
}
.wrapper:after {
  clear: both;
}
.wrapper:before,
.wrapper:after {
  display: table;
  content: "";
}
.wrapper:after {
  clear: both;
}
.wrapper:before,
.wrapper:after {
  display: table;
  content: "";
}
.wrapper:after {
  clear: both;
}
.wrapper:before,
.wrapper:after {
  display: table;
  content: "";
}
.wrapper:after {
  clear: both;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.anm {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/*时间周期*/
.anm-time100 {
  -webkit-animation-duration: 0.1s;
  animation-duration: 0.1s;
}
.anm-time200 {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
}
.anm-time500 {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
.anm-time1000 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.anm-time1200 {
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
}
.anm-time1500 {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}
.anm-time1750 {
  -webkit-animation-duration: 1.75s;
  animation-duration: 1.75s;
}
.anm-time2000 {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
@-webkit-keyframes ac-feedback {
  from {
    background-color: #ccc;
    opacity: 0.8;
    filter: alpha(opacity=80);
  }
}
@keyframes ac-feedback {
  from {
    background-color: #ccc;
    opacity: 0.8;
    filter: alpha(opacity=80);
  }
}
.ac-feedback {
  -webkit-animation-name: ac-feedback;
  animation-name: ac-feedback;
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
}
.clear_plr {
  padding-left: 0px;
  padding-right: 0px;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.light-01 {
  color: #ff6666;
}
.containt-tohead {
  background-color: #fff;
  margin-bottom: 10px !important;
}
.containt-tohead .combin-12 {
  border-top: 1px solid #e5e5e5;
}
/*优惠价格*/
.favorable {
  background: #3dc05b;
  margin-left: .5em;
  font-size: 1.2rem;
  color: #ffffff;
  padding: .1rem .5em;
  border-radius: 3px;
  vertical-align: middle;
  display: inline-block;
}
#search-colmn.input-search {
  display: block;
}
#index-search-colmn {
  padding: 10px 10px 0;
  background-color: #fff;
  position: relative;
}
#index-search-colmn .input-search {
  display: block;
  border-color: #3dc05b;
}
#index-search-colmn .input-search .sign {
  color: #3dc05b;
}
.reset-search {
  padding: 10px 10px !important;
  margin-bottom: 10px;
}
.search-list .column-list li {
  border-bottom: 1px solid #e5e5e5;
}
.search-list .column-list li a {
  display: block;
  padding: 10px 10px;
}
.search-list .column-list .num {
  float: right;
  color: #888888;
}
.search-list .column-list em {
  color: #3dc05b;
}
.buy-prompt {
  padding-right: 30px;
  position: relative;
}
.buy-prompt .sign-prompt {
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 25px;
  color: #3dc05b;
  cursor: pointer;
}
.buy-prompt .prompt-comten {
  display: none;
  z-index: 90;
  position: absolute;
  right: 0;
  width: 200px;
}
.buy-prompt .prompt-comten i.wate-ico {
  display: block;
  position: absolute;
  top: -3px;
  right: 10px;
  width: 8px;
  height: 8px;
  background-color: #888888;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.buy-prompt .prompt-comten .prompt-comten-wrap {
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  padding: 10px;
  color: #ffffff;
  background-color: #888888;
}
.pop-up-contain {
  position: absolute;
  width: 100%;
}
.reset-tab .tab-3 {
  padding: 0 10px;
}
.empty-bgcolor {
  background-color: transparent !important;
}
.setmarg {
  margin-bottom: 0 !important;
}
.fn-max01 {
  color: #3dc05b;
  font-size: 1.5rem;
}
.fn-max02 {
  font-size: 1.6rem;
}
.max-title {
  padding: 10px 10px;
  font-size: 1.6rem;
}
.max-title:before,
.max-title:after {
  display: table;
  content: "";
}
.max-title:after {
  clear: both;
}
.max-title:before,
.max-title:after {
  display: table;
  content: "";
}
.max-title:after {
  clear: both;
}
.max-title:before,
.max-title:after {
  display: table;
  content: "";
}
.max-title:after {
  clear: both;
}
.max-title:before,
.max-title:after {
  display: table;
  content: "";
}
.max-title:after {
  clear: both;
}
.max-title:before,
.max-title:after {
  display: table;
  content: "";
}
.max-title:after {
  clear: both;
}
.max-title h2 {
  padding: 0 10px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.max-title .title-ico {
  float: left;
  margin: 0 0 0 10px ;
}
.max-title.green {
  color: #3dc05b;
}
.price-wrap {
  overflow: hidden;
}
.price-wrap ins {
  color: #ff6666;
  font-size: 1.6rem;
  text-decoration: none;
}
.price-wrap ins::before {
  content: "¥";
  font-size: 1rem;
}
.price-wrap del {
  font-size: 1.2rem;
  margin-left: .3em;
}
.price-wrap del::before {
  content: "¥";
  font-size: 1rem;
}
.total-02 {
  margin: 10px 0;
  padding: 0 10px;
}
.total-02 .total-wrap {
  padding: 1em 10px 10px;
}
.total-02 .total-wrap .favorable-wrap {
  margin-bottom: .5em;
}
.total-02 .total-wrap .price-wrap {
  overflow: hidden;
  float: right;
  display: inline;
  color: #ff6666;
}
.regular-checkbox {
  display: none;
}
.regular-checkbox + label {
  background-color: #ffffff;
  border: 1px solid #3dc05b;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}
.regular-checkbox + label:active,
.regular-checkbox:checked + label:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.regular-checkbox:checked + label {
  background-color: #3dc05b;
  border: 1px solid #3dc05b;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #99a1a7;
}
.regular-checkbox:checked + label:after {
  content: '√';
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 4px;
  color: #fff;
}
/* RADIO */
.regular-radio {
  display: none;
}
.regular-radio + label {
  -webkit-appearance: none;
  background-color: #ffffff;
  border: 1px solid #3dc05b;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  border-radius: 50px;
  display: inline-block;
  position: relative;
}
.regular-radio:checked + label:after {
  content: ' ';
  width: 12px;
  height: 12px;
  border-radius: 50px;
  position: absolute;
  top: 3px;
  background: #3cc05b;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
  text-shadow: 0px;
  left: 3px;
  font-size: 32px;
}
.regular-radio:checked + label {
  background-color: #ffffff;
  color: #3cc05b;
  border: 1px solid #3dc05b;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1), inset 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.regular-radio + label:active,
.regular-radio:checked + label:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}
/* /单选复选 */
.ico-arrow .sign {
  color: #3dc05b;
}
.reset-ico .sign {
  font-size: 2rem;
  transform: translate(0px, -2px);
  -o-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  -webkit-transform: translate(0px, -2px);
  -moz-transform: translate(0px, -2px);
}
.reset-last .info-column:last-child,
.reset-last .table-column:last-child,
.reset-last .product-wrap:last-child {
  border-bottom: none;
}
.wrapper .info-column {
  padding: 10px 0;
}
.wrapper .info-column:first-child {
  padding: 0 0 10px 0;
}
.wrapper .info-column:last-child {
  padding: 10px 10px 0 0;
}
.wrapper .info-column p {
  line-height: 1.2;
}
.wrapper .info-column p:last-child {
  color: #888888;
  font-size: 12px;
}
.wrapper .info-column .info-content {
  position: relative;
  top: 4px;
  margin-right: 5px;
}
.info-column {
  padding: 10px 10px;
}
.info-column > a {
  padding: 10px 10px;
  margin: -10px -10px;
}
.info-list ul li {
  padding: 10px 10px;
}
.info-list ul li a {
  padding: 10px 10px;
  margin: -10px -10px;
}
.product-wrap > a {
  padding: 10px 0;
}
.products-list .product-wrap:last-child {
  border: 0;
}
.products-list + h2 {
  border-top: 1px solid #e5e5e5;
}
.info-column {
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 10px;
}
.info-column > a {
  display: block;
  margin: -10px -10px;
}
.info-column .item-total {
  font-weight: bold;
  margin-right: .5em;
}
.row-02 .col-right {
  float: right;
}
.row-02 .topten-header {
  margin-bottom: .2em;
}
.row-02 .topten-header .item-name {
  color: #000;
}
.row-02 .info {
  line-height: 150%;
}
.row-02 .info:before,
.row-02 .info:after {
  display: table;
  content: "";
}
.row-02 .info:after {
  clear: both;
}
.row-02 .info:before,
.row-02 .info:after {
  display: table;
  content: "";
}
.row-02 .info:after {
  clear: both;
}
.row-02 .info:before,
.row-02 .info:after {
  display: table;
  content: "";
}
.row-02 .info:after {
  clear: both;
}
.row-02 .info:before,
.row-02 .info:after {
  display: table;
  content: "";
}
.row-02 .info:after {
  clear: both;
}
.row-02 .info:before,
.row-02 .info:after {
  display: table;
  content: "";
}
.row-02 .info:after {
  clear: both;
}
.row-02 ins {
  height: 22px;
  line-height: 100%;
  overflow: hidden;
}
.row-02 .event-wrap .event-btn {
  color: #888888;
  margin-left: .5em;
}
.info-list ul li {
  border-bottom: 1px solid #e5e5e5;
}
.info-list ul li a {
  display: block;
}
.info-list ul li:last-child {
  border-bottom: none;
}
.info-list .item-name,
.info-list .item-total {
  margin-right: .5em;
}
.radiu-column {
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  margin: 0 10px;
  border: 1px solid #e5e5e5;
}
.list-chekbox {
  height: 1.5em;
  line-height: 1.5em;
  overflow: hidden;
}
.list-chekbox:before,
.list-chekbox:after {
  display: table;
  content: "";
}
.list-chekbox:after {
  clear: both;
}
.list-chekbox:before,
.list-chekbox:after {
  display: table;
  content: "";
}
.list-chekbox:after {
  clear: both;
}
.list-chekbox:before,
.list-chekbox:after {
  display: table;
  content: "";
}
.list-chekbox:after {
  clear: both;
}
.list-chekbox:before,
.list-chekbox:after {
  display: table;
  content: "";
}
.list-chekbox:after {
  clear: both;
}
.list-chekbox:before,
.list-chekbox:after {
  display: table;
  content: "";
}
.list-chekbox:after {
  clear: both;
}
.list-chekbox .checkbox-img {
  float: left;
  display: inline-block;
  margin-right: .5em;
}
.list-chekbox .checkbox-img img {
  width: 1.5em;
  height: 1.5em;
  display: block;
}
.list-chekbox .checkbox-info {
  display: inline-block;
}
.table-column {
  border-bottom: 1px solid #e5e5e5;
}
.product-wrap {
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}
.product-wrap:before,
.product-wrap:after {
  display: table;
  content: "";
}
.product-wrap:after {
  clear: both;
}
.product-wrap:before,
.product-wrap:after {
  display: table;
  content: "";
}
.product-wrap:after {
  clear: both;
}
.product-wrap:before,
.product-wrap:after {
  display: table;
  content: "";
}
.product-wrap:after {
  clear: both;
}
.product-wrap:before,
.product-wrap:after {
  display: table;
  content: "";
}
.product-wrap:after {
  clear: both;
}
.product-wrap:before,
.product-wrap:after {
  display: table;
  content: "";
}
.product-wrap:after {
  clear: both;
}
.product-wrap > a {
  display: block;
}
.product-wrap > a:before,
.product-wrap > a:after {
  display: table;
  content: "";
}
.product-wrap > a:after {
  clear: both;
}
.product-wrap > a:before,
.product-wrap > a:after {
  display: table;
  content: "";
}
.product-wrap > a:after {
  clear: both;
}
.product-wrap > a:before,
.product-wrap > a:after {
  display: table;
  content: "";
}
.product-wrap > a:after {
  clear: both;
}
.product-wrap > a:before,
.product-wrap > a:after {
  display: table;
  content: "";
}
.product-wrap > a:after {
  clear: both;
}
.product-wrap > a:before,
.product-wrap > a:after {
  display: table;
  content: "";
}
.product-wrap > a:after {
  clear: both;
}
.product-wrap ul {
  overflow: hidden;
}
.product-wrap .img-wrap {
  position: relative;
  float: left;
  margin-right: .5em;
}
.product-wrap .img-wrap img {
  width: 75px;
  height: 75px;
}
.product-wrap .list-title {
  margin-bottom: .3em;
}
.product-wrap .price-wrap {
  text-align: right;
  padding-top: .3em;
}
.product-wrap .price-wrap ins {
  font-size: 1.8rem;
  display: inline-block;
  vertical-align: -0.1em;
}
.product-wrap .price-wrap del {
  display: inline-block;
  vertical-align: -0.1em;
}
.product-wrap .item-name {
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
}
.product-wrap .store {
  float: right;
  color: #888888;
  margin-left: .2em;
}
.product-wrap .activity-ioc .item-name {
  display: inline-block;
  padding: 0 .5em;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  position: relative;
  overflow: visible;
}
.product-wrap .activity-ioc .item-name::after {
  position: absolute;
  right: -0.7em;
  top: 0;
  content: "";
  width: 0;
  height: 0;
  overflow: hidden;
  border-width: 10px 10px 10px 0px;
  border-style: solid;
}
.product-wrap .no-nowrap .item-name {
  white-space: normal;
}
.product-wrap .activity-color01 {
  background-color: #ff6666;
}
.product-wrap .activity-color01::after {
  border-color: #ff6666 transparent #ff6666 #ff6666;
}
.product-wrap .activity-color02 {
  background-color: #f8b551;
}
.product-wrap .activity-color02::after {
  border-color: #f8b551 transparent #f8b551 #f8b551;
}
.product-wrap .zang-wrap {
  right: 0;
  bottom: .5em;
}
.product-wrap .zang-wrap {
  position: absolute;
  width: 3em;
  height: 3em;
  overflow: hidden;
  text-align: center;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  border-radius: 1.5em;
  background-color: rgba(0, 0, 0, 0.6);
}
.product-wrap .zang-wrap a {
  color: #ffffff;
  display: block;
  height: 100%;
}
.product-wrap .zang-wrap a .img {
  font-size: 1.8rem;
  padding: .1em;
}
.product-wrap .zang-wrap a .zang-info {
  padding: .1em;
}
.product-wrap .zang-wrap a .img,
.product-wrap .zang-wrap a .zang-info {
  display: block;
}
.product-wrap .shopping {
  position: absolute;
  right: 0;
  top: 10px;
  float: right;
  display: inline;
}
.product-wrap .shopping .shopping-wrap {
  display: table-cell;
  vertical-align: middle;
}
.product-wrap .shopping .btn {
  padding: 0.2em 1.2em;
}
.product-wrap .shopping .shop-ico {
  font-size: 2rem;
  padding: 0 .2em;
  -webkit-transform: translate(0px, 1px);
  -moz-transform: translate(0px, 1px);
  -o-transform: translate(0px, 1px);
  transform: translate(0px, 1px);
}
.product-wrap .shopping .btn-cannot {
  display: block;
  padding: .1em 0;
}
.product-list-row3 > a {
  padding-right: 70px;
}
.product-list-row3 .price-wrap {
  padding-top: .5em;
  text-align: start;
}
.table-column table tr td {
  padding: .3em .2em;
  text-align: left;
  vertical-align: text-top;
}
.table-column .table-ico {
  width: 2em;
}
.table-column .table-ico .sign {
  font-size: 2.88rem;
}
.table-column .table-name {
  width: 3em;
  white-space: nowrap;
}
.table-column .table-msg {
  color: #888888;
}
.gender-checkbox span.checkbox-wrap {
  margin: 0px  5px 0 15px !important;
}
.promt .green {
  color: #3dc05b;
}
.details-tophead .title .sign {
  color: #3dc05b;
}
.details-tophead .title .product-numb {
  padding-top: 3px;
}
.details-tophead .details-title {
  color: #3dc05b;
  font-size: 1.8rem;
}
.details-tophead .info {
  padding-top: 10px;
}
.service-phone {
  bottom: -10px;
}
.service-phone .phone-info {
  text-align: center;
  padding-top: 5px;
  margin-bottom: 10px;
  font-size: 1.6rem;
}
.recommen-wrap .reconm-nearby {
  color: #888888;
  margin-right: 1em;
}
.detail-product-list02 .sign.col-left {
  margin-right: 10px;
}
#countDownText {
  font-size: 1.2rem;
}
.activities-special:before,
.activities-special:after {
  display: table;
  content: "";
}
.activities-special:after {
  clear: both;
}
.activities-special:before,
.activities-special:after {
  display: table;
  content: "";
}
.activities-special:after {
  clear: both;
}
.activities-special:before,
.activities-special:after {
  display: table;
  content: "";
}
.activities-special:after {
  clear: both;
}
.activities-special:before,
.activities-special:after {
  display: table;
  content: "";
}
.activities-special:after {
  clear: both;
}
.activities-special:before,
.activities-special:after {
  display: table;
  content: "";
}
.activities-special:after {
  clear: both;
}
.activities-special .countdown i {
  display: inline-block;
  background-color: #888888;
  font-style: normal;
  margin: 0 5px;
  width: 24px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  border-radius: 0.4em;
}
.activities-special .hall-info:before,
.activities-special .hall-info:after {
  display: table;
  content: "";
}
.activities-special .hall-info:after {
  clear: both;
}
.activities-special .hall-info:before,
.activities-special .hall-info:after {
  display: table;
  content: "";
}
.activities-special .hall-info:after {
  clear: both;
}
.activities-special .hall-info:before,
.activities-special .hall-info:after {
  display: table;
  content: "";
}
.activities-special .hall-info:after {
  clear: both;
}
.activities-special .hall-info:before,
.activities-special .hall-info:after {
  display: table;
  content: "";
}
.activities-special .hall-info:after {
  clear: both;
}
.activities-special .hall-info:before,
.activities-special .hall-info:after {
  display: table;
  content: "";
}
.activities-special .hall-info:after {
  clear: both;
}
.activities-special .hall-info a {
  display: block;
}
.activities-special .hall-info a:before,
.activities-special .hall-info a:after {
  display: table;
  content: "";
}
.activities-special .hall-info a:after {
  clear: both;
}
.activities-special .hall-info a:before,
.activities-special .hall-info a:after {
  display: table;
  content: "";
}
.activities-special .hall-info a:after {
  clear: both;
}
.activities-special .hall-info a:before,
.activities-special .hall-info a:after {
  display: table;
  content: "";
}
.activities-special .hall-info a:after {
  clear: both;
}
.activities-special .hall-info a:before,
.activities-special .hall-info a:after {
  display: table;
  content: "";
}
.activities-special .hall-info a:after {
  clear: both;
}
.activities-special .hall-info a:before,
.activities-special .hall-info a:after {
  display: table;
  content: "";
}
.activities-special .hall-info a:after {
  clear: both;
}
.activities-special .hall-info .info-wrap {
  padding-top: .5em;
}
.activities-special .hall-info .activitied-time {
  line-height: 19px;
  height: 19px;
  margin: 1em 0;
}
.activities-special .hall-info .price-wrap {
  float: right;
}
.activities-special .hall-info .price-wrap ins {
  font-size: 1.8rem;
}
.activities-special .hall-info .price-wrap del {
  color: #888888;
  font-size: 1rem;
}
.activities-special .hall-info .img {
  float: left;
  margin-right: 1em;
}
.activities-special .hall-info .img img {
  width: 100px;
  height: 70px;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
}
.activities-special .hall-info .info {
  font-size: 1.6rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
}
.activities-special .special-list {
  margin-top: 10px;
  border-top: 1px solid #e5e5e5;
}
.activities-special .special-list:before,
.activities-special .special-list:after {
  display: table;
  content: "";
}
.activities-special .special-list:after {
  clear: both;
}
.activities-special .special-list:before,
.activities-special .special-list:after {
  display: table;
  content: "";
}
.activities-special .special-list:after {
  clear: both;
}
.activities-special .special-list:before,
.activities-special .special-list:after {
  display: table;
  content: "";
}
.activities-special .special-list:after {
  clear: both;
}
.activities-special .special-list:before,
.activities-special .special-list:after {
  display: table;
  content: "";
}
.activities-special .special-list:after {
  clear: both;
}
.activities-special .special-list:before,
.activities-special .special-list:after {
  display: table;
  content: "";
}
.activities-special .special-list:after {
  clear: both;
}
.activities-special .special-list li {
  float: left;
  width: 33%;
}
.activities-special .special-list li a {
  display: block;
  position: relative;
  padding: 10px 10px 60px 10px;
  border-right: 1px solid #e5e5e5;
}
.activities-special .special-list li .topten-title {
  -o-text-overflow: ellipsis;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.26rem;
}
.activities-special .special-list li .info {
  -o-text-overflow: ellipsis;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: .3em;
  font-size: 0.98rem;
  color: #888888;
}
.activities-special .special-list li .img {
  position: absolute;
  display: inline;
  right: 10px;
  bottom: 0;
}
.activities-special .special-list li .img img {
  display: block;
  width: 50px;
  height: 50px;
}
.activities-special .special-list li:last-child a {
  border-right: none;
}
