@import "editinfo.css";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]),
[hidden] {
  display: none;
}
table {
  border-collapse: collapse;
}
/* 排版 */
fieldset {
  margin: 25px 2px;
  padding: 6px 10px 4px;
}
legend {
  margin: 20px 0 10px;
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
  font-size: 1.5rem;
}
fieldset > *:nth-child(n + 2) {
  margin-bottom: 10px;
}
/* /排版 */
.btn {
  display: inline-block;
  margin-bottom: .1em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: .4em 1.2em;
  line-height: 1.5em;
  text-align: center;
  text-decoration: none;
}
.btn.full {
  display: block;
}
.btn.angle {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.tab ul {
  overflow: hidden;
}
.tab ul li {
  float: left;
  width: 33.33%;
  text-align: center;
}
.tab ul li.on {
  font-weight: bold;
}
.tab ul li a {
  display: block;
}
.input-wrapper,
.input-checkbox {
  font-size: 14px;
}
.input-wrapper b,
.input-checkbox b {
  font-weight: normal;
}
.input-wrapper {
  position: relative;
  display: block;
  overflow: hidden;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 8px 10px 78px;
  line-height: 1.5;
  background-color: #fff;
}
.input-wrapper b {
  position: absolute;
  top: 10px;
  left: 0;
  overflow: hidden;
  width: 4em;
  border-right: 1px solid #ccc;
  padding: 0 8px;
}
.input-wrapper input {
  display: block;
  height: 1.5em;
  border: 0;
  padding: 0;
  font-size: 14px;
}
.input-select {
  position: relative;
  display: inline-block;
  overflow: hidden;
  min-width: 3em;
  height: 1.5em;
  line-height: 1.5;
  vertical-align: top;
}
.input-select:after {
  content: '﹀';
  position: absolute;
  top: 3px;
  right: 0;
  display: inline-block;
  width: 14px;
  height: 14px;
}
.input-select-option {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  font-size: 14px;
  text-align: left;
}
.input-select-mask {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}
.input-select-mask-main {
  width: 80%;
  max-height: 80%;
  overflow-y: auto;
  margin-right: auto;
  margin-left: auto;
}
.input-select-mask-main-select {
  border-bottom: 1px solid #ccc;
  padding: 1em;
  background-color: #fcfcfc;
  text-align: center;
  opacity: 1;
  filter: alpha(opacity=100);
}
.input-label {
  line-height: 30px;
}
.input-num,
.input-date {
  display: inline-block;
  font-size: 0;
  vertical-align: top;
  line-height: 30px;
}
.input-text,
.input-btn {
  margin: 0;
  border: 1px solid #ddd;
  padding: 0 5px;
  line-height: 28px;
  font-size: 14px;
  /*vertical-align: middle;*/
  vertical-align: top;
  _display: inline-block;
  _zoom: 1;
}
.input-text {
  height: 28px;
  /*_height: 30px;*/
  /* ie5加这个高度才能对齐 */
  font-size: 14px;
  text-align: left;
}
.input-btn {
  width: 28px;
  height: 30px;
  *margin: 1px 0;
  border-radius: 0;
  font-weight: bold;
  color: #888;
  background-color: #f5f5f5;
  cursor: pointer;
  text-align: center;
}
.input-btn:hover {
  background-color: #e5e5e5;
}
/* 数量文本框 */
.input-num .input-text {
  width: 42px;
  border-left: 0;
  border-right: 0;
  text-align: center;
}
/* 日期文本框 */
.input-date {
  position: relative;
}
.input-date .input-text {
  width: 90px;
  width: 120px \0;
  *width: 120px;
  padding-right: 33px;
  padding-right: 0 \0;
  *padding-right: 0;
}
.input-date .input-btn {
  height: 28px;
  position: absolute;
  top: 50%;
  right: 1px;
  margin-top: -14px;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
}
.js-fixed,
.me-js-fixed {
  position: fixed;
  z-index: 200;
}
.js-noscroll {
  overflow: hidden;
}
.js-hyperlink {
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.js-hyperlink:hover {
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.js-hyperlink.btn {
  -webkit-user-select: auto;
  -moz-user-select: auto;
}
.js-hyperlink.btn:hover {
  background-color: -1;
  opacity: 1;
  filter: alpha(opacity=100);
}
.js-hyperlink.btn img {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  pointer-events: auto;
}
.js-hyperlink img {
  -webkit-user-select: none;
  -moz-user-select: none;
  pointer-events: none;
}
.js-mask {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  text-align: center;
  vertical-align: middle;
}
.js-mask > * {
  text-align: initial;
}
.js-mask .js-mask-x,
.js-mask .js-mask-before {
  display: inline-block;
  width: 0px;
  height: 100%;
  vertical-align: middle;
}
.js-hide {
  display: none !important;
}
.js-relative {
  position: relative !important;
}
.js-inline-block {
  display: inline-block;
}
.btn {
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  padding-right: 2.5em;
  padding-left: 2.5em;
  font-size: 1.4rem;
}
.btn.red {
  box-shadow: 0 0.1em 0 #ec2e2e;
  background-color: #ff6666;
  color: #ffffff;
}
.btn.red:hover {
  background-color: #ec2e2e;
}
.btn.green {
  box-shadow: 0 0.1em 0 #4eb682;
  background-color: #66cc99;
  color: #ffffff;
}
.btn.green:hover {
  background-color: #4eb682;
}
.btn.orange {
  box-shadow: 0 0.1em 0 #d58918;
  background-color: #f8b551;
  color: #ffffff;
}
.btn.orange:hover {
  background-color: #d58918;
}
.btn.gray {
  box-shadow: 0 0.1em 0 #999999;
  background-color: #bbbbbb;
  color: #ffffff;
}
.btn.gray:hover {
  background-color: #999999;
}
.btn.small {
  padding-right: 1em;
  padding-left: 1em;
}
.btn.big {
  display: block;
  padding: .625em;
  font-size: 1.8rem;
}
.btn.big-sradius {
  display: block;
  padding: .625em;
  font-size: 1.8rem;
}
.input-num .input-btn {
  border-color: #f5f5f5;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.input-num .input-btn i {
  color: #3dc05b;
  font-weight: bold;
}
.input-num .input-text {
  width: 24px;
  height: 26px;
  border-color: #f5f5f5;
  border-width: 2px 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
html {
  height: 100%;
  font-family: "Microsoft YaHei";
  font-size: 62.5%;
}
body {
  font-size: 1.4rem;
  background-color: #f5f5f5;
  color: #666666;
  min-height: 100%;
}
input {
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}
a {
  color: #666666;
  text-decoration: none;
}
a img {
  border: 0;
}
a.link,
a:visited {
  color: #666666;
}
a,
input,
button,
select,
textarea {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
@font-face {
  font-family: 'x';
  src: url('../fonts/x.woff?v=1.0') format('woff'), url('../fonts/x.ttf?v=1.0') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.sign {
  display: inline-block;
  min-width: 1em;
  font: normal normal normal 14px/1 x;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  vertical-align: middle;
  text-align: center;
}
.header {
  height: 3.654rem;
  line-height: 3.654rem;
}
.header.dnl {
  height: 9.454rem;
}
.header.dnl .header-wrapin {
  top: 6.3rem;
}
.header-wrapin {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.654rem;
  background-color: #3dc05b;
  color: #ffffff;
  z-index: 200;
}
.header-wrapin h1 {
  font-size: 1.8rem;
  text-align: center;
}
.header-wrapin h1 b {
  margin-left: .2em;
  font-size: 1.2rem;
  font-weight: normal;
}
.header-wrapin a {
  display: inline-block;
  height: 3.654rem;
  padding: 0 .7em;
  color: #ffffff;
}
.header-wrapin a:first-child {
  padding-left: 10px;
}
.header-wrapin a:last-child {
  padding-right: 10px;
}
.header-wrapin .back-wrap {
  position: absolute;
  top: 0;
  left: 10px;
  margin-left: -10px;
}
.header-wrapin .back-wrap .sign {
  margin-right: .2em;
}
.header-wrapin .toolbar {
  position: absolute;
  top: 0;
  right: 10px;
  margin-right: -10px;
}
.header-wrapin .sign {
  font-size: 1.5em;
}
.footer {
  height: 5.6rem;
  line-height: 1;
}
.footer-wrapin {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #ebebeb;
  background-color: #fff;
  z-index: 200;
}
.footer-wrapin ul:before,
.footer-wrapin ul:after {
  display: table;
  content: "";
}
.footer-wrapin ul:after {
  clear: both;
}
.footer-wrapin ul:before,
.footer-wrapin ul:after {
  display: table;
  content: "";
}
.footer-wrapin ul:after {
  clear: both;
}
.footer-wrapin ul li {
  float: left;
  width: 25%;
  margin: 0;
  padding: 0;
}
.footer-wrapin a {
  display: inline-block;
  width: 100%;
  padding: 8px 0;
  text-align: center;
  font-size: 1.2rem;
}
.footer-wrapin a .sign:nth-child(2) {
  display: none;
}
.footer-wrapin a.on {
  color: #3dc05b;
}
.footer-wrapin a.on .sign:nth-child(1) {
  display: none;
}
.footer-wrapin a.on .sign:nth-child(2) {
  display: block;
}
.footer-wrapin a.update:after {
  content: '•';
  position: absolute;
  top: -0.3em;
  left: 50%;
  margin-left: .6em;
  font-size: 1.6em;
  color: red;
}
.footer-wrapin .sign {
  display: block;
  margin-bottom: .2em;
  font-size: 2.1rem;
}
.footer-wrapin.footer-3 ul:before,
.footer-wrapin.footer-3 ul:after {
  display: table;
  content: "";
}
.footer-wrapin.footer-3 ul:after {
  clear: both;
}
.footer-wrapin.footer-3 ul:before,
.footer-wrapin.footer-3 ul:after {
  display: table;
  content: "";
}
.footer-wrapin.footer-3 ul:after {
  clear: both;
}
.footer-wrapin.footer-3 ul li {
  float: left;
  width: 33.33333333%;
  margin: 0;
  padding: 0;
}
html {
  background-color: #c0c0c0;
}
body {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.header-wrapin,
.footer-wrapin,
.js-mask,
.date-fixbar,
.date_mask {
  left: initial;
  max-width: 100%;
}
.body-limit {
  left: initial!important;
  max-width: 100%;
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}
.tab {
  font-size: 1.6rem;
}
.tab ul {
  background-color: #fff;
}
.tab ul li {
  margin: 0.64em 0;
}
.tab ul li.on,
.tab ul li:hover {
  font-weight: normal;
}
.tab ul li.on a,
.tab ul li:hover a {
  border-bottom: 1.5px solid #3dc05b;
  color: #3dc05b;
}
.tab ul li a {
  margin: -0.64em 0;
  border-bottom: 1.5px solid #ccc;
  padding: 0.8em 0;
}
.input-search {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
  font-size: 2.1rem;
  line-height: 1;
}
.input-search .input-search-wrapin {
  display: block;
  margin: 0 2.8rem 0 0.5em;
}
.input-search input[type=text] {
  width: 100%;
  height: 2.1rem;
  padding: 0.7rem 0;
  line-height: 2.1rem;
  border: 0;
  outline: none;
  font-size: 1.4rem;
}
.input-search .sign {
  position: absolute;
  top: 0;
  right: 0;
  width: 3.5rem;
  height: 3.5rem;
  padding: 0 !important;
  line-height: 3.5rem;
  font-size: 2.1rem;
  color: #666666;
}
.row {
  padding: 10px 10px;
}
.row:before,
.row:after {
  display: table;
  content: "";
}
.row:after {
  clear: both;
}
.row:before,
.row:after {
  display: table;
  content: "";
}
.row:after {
  clear: both;
}
.row + .row {
  border-top: 1px solid #e5e5e5;
}
.row .a-expand {
  display: block;
  margin: -10px -10px;
  padding: 10px 10px;
}
.row .a-expand:before,
.row .a-expand:after {
  display: table;
  content: "";
}
.row .a-expand:after {
  clear: both;
}
.row .a-expand:before,
.row .a-expand:after {
  display: table;
  content: "";
}
.row .a-expand:after {
  clear: both;
}
.col-left {
  float: left;
}
.col-right {
  float: right;
}
.col-center {
  overflow: hidden;
}
.title {
  border-bottom: 1px solid #e5e5e5;
  padding: 12px 10px;
  font-size: 1.6rem;
}
.title .remark {
  margin-left: 0;
  font-size: 1rem;
  color: #888888;
}
.title .area,
.title .date {
  margin-left: 10px;
  color: #666666;
}
.title a {
  display: block;
  margin: -12px -10px;
  padding: 12px 10px;
}
.title a.on .sign-expand {
  display: block;
}
.title a.on .sign-collapse {
  display: none;
}
.title .sign-wrap {
  display: inline-block;
  min-width: 1.5em;
}
.title .sign {
  margin-left: -10px;
  font-size: 1.5em;
}
.title .sign-into,
.title .sign-expand,
.title .sign-collapse {
  float: right;
  color: #3dc05b;
}
.title.green,
.title.green a {
  color: #3dc05b;
}
.title.collapse {
  border-bottom: 0;
}
.title.collapse.on {
  border-bottom: 1px solid #e5e5e5;
}
.collapse .sign-expand {
  display: inline-block;
}
.collapse .sign-collapse {
  display: none;
}
.collapse.on .sign-expand {
  display: none;
}
.collapse.on .sign-collapse {
  display: inline-block;
}
.content {
  padding: 10px 10px;
  font-size: 1.4rem;
  line-height: 1.6;
}
.content ul {
  margin-bottom: 2.1em;
}
.content ul li,
.content p {
  margin-bottom: .5em;
}
.price {
  color: #ff6666;
  font-style: normal;
  font-size: 1.8rem;
  font-family: arial, sans-serif;
}
.price:before {
  content: '¥';
  font-size: .6em;
}
.remind {
  color: #3dc05b;
  font-style: normal;
}
.note {
  font-size: .8em;
  font-style: normal;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.note:before {
  content: '(';
}
.note:after {
  content: ')';
}
.notes {
  font-size: .8em;
  font-style: normal;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.delete,
.delete *,
.delete *:before,
.delete *:after {
  font-size: 1.2rem;
  color: #888888;
  text-decoration: line-through;
  font-family: inherit;
}
.focus {
  color: #ff6666;
  font-style: normal;
}
.bold {
  font-weight: bold;
}
.wrapper {
  margin-bottom: 10px !important;
  padding: 10px 10px;
  background-color: #fff;
}
.wrapper:before,
.wrapper:after {
  display: table;
  content: "";
}
.wrapper:after {
  clear: both;
}
.wrapper:before,
.wrapper:after {
  display: table;
  content: "";
}
.wrapper:after {
  clear: both;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.anm {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/*时间周期*/
.anm-time100 {
  -webkit-animation-duration: 0.1s;
  animation-duration: 0.1s;
}
.anm-time200 {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
}
.anm-time500 {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
.anm-time1000 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.anm-time1200 {
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
}
.anm-time1500 {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}
.anm-time1750 {
  -webkit-animation-duration: 1.75s;
  animation-duration: 1.75s;
}
.anm-time2000 {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
@-webkit-keyframes ac-feedback {
  from {
    background-color: #ccc;
    opacity: 0.8;
    filter: alpha(opacity=80);
  }
}
@keyframes ac-feedback {
  from {
    background-color: #ccc;
    opacity: 0.8;
    filter: alpha(opacity=80);
  }
}
.ac-feedback {
  -webkit-animation-name: ac-feedback;
  animation-name: ac-feedback;
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
}
.clear_plr {
  padding-left: 0px;
  padding-right: 0px;
}
/*============================布局==================================*/
.flex {
  display: box;
  display: -moz-box;
  display: -ms-box;
  display: -ms-flexbox;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.flex > div,
.flex > p,
.flex > li {
  -webkit-box-flex: 1.0;
  box-flex: 1.0;
}
/*============================布局==================================/*/
/*============================common==================================*/
.rotate180 {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
/*============================common==================================/*/
.infobox {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.infobox.on {
  display: block;
}
.infobox.on.black {
  position: relative;
  height: 2em;
}
.infobox.on.await1 {
  height: 2em;
  background: url(http://img.yooyoimg.com/p/common/img/await2.gif) center no-repeat;
  background-size: 30%;
}
.infobox.on.await2 {
  height: 2em;
  background: url(http://img.yooyoimg.com/p/common/img/await1.gif) center no-repeat;
  background-size: 30%;
}
.infobox.on.loading1 {
  height: 3em;
  background: url(http://img.yooyoimg.com/p/common/img/loading1.gif) center no-repeat;
  background-size: 10%;
  bottom: 3em;
}
.infobox.on.text {
  background: #333;
  color: #fff;
  line-height: 1.5em;
  border-top: 1px #333 solid;
}
.infobox.on.text p {
  margin: 0.6em 1em 0.5em 3.3em;
}
.infobox.on.text i {
  font-size: 3.3rem;
  position: absolute;
  top: 0.4rem;
  left: 0.6rem;
  color: #ff6666;
}
.infobox.on.text.black {
  position: relative;
  height: 4.5em;
  z-index: -1;
}
.pic-img-con .p-price font.p-price-item {
  color: #ff6666;
}
.route-tip {
  color: #3dc05b;
  font-size: 32px;
}
.route-tip:active {
  color: #247336;
}
.form-list-extra {
  padding: 0;
}
.edi-text-1-extra {
  width: 200px;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-20 {
  margin-left: 20px;
}
.padding-body {
  padding-bottom: 80px;
}
.combin-2-extra {
  position: absolute;
  top: 3.65rem;
  padding-top: 3.3em;
  background-color: #f5f5f5;
}
.combin-2-extra .tab {
  position: fixed;
  top: 3.65rem;
  width: 100%;
  z-index: 15;
}
.zh-combin-7 {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  height: 4rem;
  padding: 0;
}
.zh-combin-7 .col-center {
  padding: 0.8rem 10px;
  line-height: 2.4rem;
  vertical-align: middle;
}
.zh-combin-7 .col-center.multiline {
  line-height: 1.2rem;
}
.zh-combin-7 .price {
  margin-left: 5px;
}
.zh-combin-7 .btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 4rem;
  line-height: 4rem;
  padding: 0 1em;
}
.zh-combin-7 .notes {
  display: inline-block;
  margin-top: 3px;
}
.btn-tip-1 {
  background: #3dc05b;
  margin-left: .5em;
  font-size: 1rem;
  color: #ffffff;
  padding: .2em .5em;
  border-radius: 3px;
}
.taopiao-title {
  padding: 10px 0 10px 20px;
}
.taopiao-list {
  padding: 0 10px;
}
.taopiao-list .taopiao-sign {
  font-size: 2.2rem;
}
.taopiao-list .input-num {
  margin-top: 5px;
}
.taopiao-list .input-num .sign {
  font-size: 1rem!important;
}
.taopiao-combin .multiline {
  height: 4rem!important;
  line-height: 4rem!important;
  padding: 0 0 0 20px!important;
}
.dRow .col-right,
.dRow .col-center {
  margin-top: 10px;
}
#offset-map {
  position: fixed;
  bottom: 5px;
  right: 10px;
  z-index: 999;
  background-color: #7a7a7a;
  padding: 4px;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
}
#offset-map span {
  font-size: 24px;
  color: #ffffff;
  cursor: pointer;
}
/*vip会员权益begin*/
.m-qy-top p {
  padding: 0.625rem 1.25rem;
  text-indent: 2rem;
  background-color: white;
}
.m-qy-sec {
  background-color: white;
  margin-top: 10px;
  padding-bottom: 10px;
}
.m-qy-sec h3 {
  color: #3cc05b;
  border-bottom: 1px solid #3cc05b;
  padding: .8rem .8rem .8rem .5rem;
  margin: 0 1.25rem .5rem;
  font-size: 1.6rem;
}
.m-qy-sec .col-right {
  margin-left: 5px;
  margin-right: -5px;
  text-align: right;
}
.m-qy-sec .col-right .sign {
  font-size: 2.2rem;
  color: #3dc05b;
}
.m-qy-sec ul {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.m-qy-sec ul li {
  position: relative;
  padding-left: 0.5rem;
  border-bottom: 1px solid #e5e5e5;
}
.m-qy-sec ul li:active {
  background-color: #f5f5f5;
}
.m-qy-sec ul li:nth-child(odd) {
  border-bottom: 0!important;
  margin-top: 0.8rem;
  font-size: 1.6rem;
}
.m-qy-sec ul li:nth-child(even) {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.m-qy-b {
  padding: 1.25rem;
  background-color: white;
  margin-top: 10px;
}
.btn-orange {
  display: block;
  font-size: 1.5em;
  border-radius: 4px;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  background-color: #f8b551;
  box-shadow: 0 3px 0 #d58918;
  text-align: center;
  padding: 1rem;
  color: #fff!important;
}
.btn-orange:active {
  background-color: #d58918;
}
/*vip会员权益over*/
/*加入vip会员*/
.join-sec {
  background-color: #fff;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-top: 10px;
}
.join-sec dl {
  height: 9rem;
  position: relative;
}
.join-sec dl dt {
  position: absolute;
  padding: 1rem 0;
  top: 0;
  left: 0;
  width: 7rem;
}
.join-sec dl dd {
  position: absolute;
  padding: 1rem 0;
  top: 0;
  left: 8rem;
  line-height: 1.5rem;
}
.join-sec dl dd .cell {
  display: table-cell;
  vertical-align: middle;
}
.join-sec dl dd h3 {
  color: #3cc05b;
  font-size: 1.5rem;
}
.join2-sec {
  background-color: white;
  margin-top: 10px;
}
.join2-sec ul {
  line-height: 2em;
  padding: .5rem 1.25rem .5rem 1.25rem;
}
.join2-sec ul li {
  position: relative;
  border-bottom: 1px solid #e5e5e5;
  padding-left: .5rem;
}
.join2-sec ul li:last-child {
  border-bottom: 0;
}
.c-green {
  color: #3cc05b;
}
.join2-sec2 {
  background-color: white;
  margin-top: 10px;
  padding-bottom: 10px;
}
.join2-sec2 h3 {
  color: #3cc05b;
  border-bottom: 1px solid #3cc05b;
  padding: .8rem .8rem .8rem .5rem;
  margin: 0 1.25rem .5rem;
  font-size: 1.6rem;
}
.join2-sec2 > p {
  padding: .5rem 1.25rem;
}
.join2-sec2 .col-right {
  margin-left: 5px;
  margin-right: -5px;
  text-align: right;
  position: relative;
  bottom: 2px;
}
.join2-sec2 .col-right .sign {
  font-size: 2.2rem;
  color: #3dc05b;
}
.join2-sec2 ul {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.join2-sec2 ul li {
  position: relative;
  padding-left: 0.5rem;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.join2-sec2 ul li:active {
  background-color: #f5f5f5;
}
.join2-sec3 {
  background-color: white;
  margin-top: 10px;
}
.join2-sec3 .col-right {
  margin-left: 5px;
  margin-right: -5px;
  text-align: right;
  position: relative;
  bottom: 2px;
}
.join2-sec3 .col-right .sign {
  font-size: 2.2rem;
  color: #3dc05b;
}
.join2-sec3 .c-green {
  font-size: 1.6rem;
}
.join2-sec3 ul {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.join2-sec3 ul li {
  position: relative;
  padding-left: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.join2-sec3 ul li:active {
  background-color: #f5f5f5;
}
.blank-10 {
  height: 10px;
}
/*加入vip会员 over*/
/*选择城市 */
.d-md-city {
  margin-top: 20px;
}
.d-md-city h3 {
  padding: 1.4rem;
  background-color: #f4f4f4;
  margin: 0.5rem 0;
  font-size: 1.5rem;
}
.d-md-city h3 span {
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 0.3rem;
  margin: 0.5rem;
  font-size: 1.4rem;
  color: #3cc05b;
}
.city-sec .c-search-wrap h2 {
  color: inherit;
  border-bottom: inherit;
  padding: 0.5rem 0.5rem;
  margin: 0 0.5rem 0.5rem;
  font-size: 1.5rem;
}
.city-sec .c-search-wrap ul {
  padding-top: 1rem;
  width: 100%;
  background-color: #f4f4f4;
}
.city-sec .c-search-wrap ul li {
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  float: left;
  width: 25%;
}
.city-sec .c-search-wrap ul li a {
  border: inherit;
  background-color: #FFFFFF;
  padding: 0 .2rem;
  color: #3CC05B;
  display: inline-block;
  width: 80%;
  font-size: 1.4rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 0.3rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.bg_white {
  background-color: white;
}
/*选择城市 over*/
/*当前定位 */
.hd-search {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -27%;
  margin-top: -1.25rem;
  width: 54%;
  background-color: #fff;
  height: 2.5rem;
  line-height: 2.5rem;
  display: inline-block;
  border-radius: 5px;
}
.hd-search input {
  width: 76%;
  padding: 0 .3125em;
  vertical-align: text-bottom;
  border-color: transparent;
  outline: none;
  font-size: 1.2rem;
}
.hd-search i {
  color: #888;
  padding-left: .3125rem;
}
.location-footer {
  height: 5rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.4rem 0;
  border-top: 1px solid #EAE3E3;
  z-index: 10;
}
.location-footer > div {
  padding: .3125rem .625rem;
  line-height: 1.2rem;
}
.location-footer > div > p {
  color: #3cc05b;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.location-footer > div > .orange {
  float: right;
}
.extra-order {
  padding: 10px 10px 0 10px;
}
.extra-wrapper .price-wrap {
  position: relative;
  top: 4px;
}
.extra-wrapper .info-column:last-child {
  padding: 10px 0 0 0!important;
}
/*当前定位 over*/
/*404出错了*/
.marc {
  margin: 5rem auto 0 auto;
  width: 60%;
}
.info404 {
  margin: 1.5rem auto 0 auto;
  width: 80%;
}
.info404 p {
  line-height: 1.8rem;
  text-align: center;
}
.btn404 {
  text-align: center;
  margin: 3rem auto 0 auto;
  font-size: 1.5rem;
}
.btn404 a {
  margin: 0em 1em;
  color: #3dc05b;
}
/*404出错了 over*/
/*商家定位*/
.b-l-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.8rem 0;
  border-top: 1px solid #ebebeb;
  background-color: #fff;
  z-index: 10;
}
.b-l-footer ul {
  width: 100%;
  color: #3cc05b;
}
.b-l-footer ul li {
  position: relative;
  overflow: hidden;
  float: left;
  width: 20%;
}
.b-l-footer ul li:nth-child(2) {
  width: 40%;
  line-height: 2.5rem!important;
}
.b-l-footer ul li a {
  color: #3cc05b;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.4rem;
}
.b-l-footer ul li a i {
  display: block;
  font-size: 1.8rem;
}
/*商家定位 over*/
/*商户相册*/
.album {
  padding: 0 8px 8px 8px;
}
.list-col2 {
  padding: 8px 0;
}
.list-col2 ul li {
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding: 10px;
}
.list-col2 ul li img {
  width: 100%;
}
/*商户相册 over*/
/*搜索*/
.hot-search h2 {
  color: #3dc05b;
  padding: 0 0 10px 10px;
}
.hot-search h2 .sign {
  font-size: 1.8rem;
}
.hot-search .hot-search-cont {
  color: #888888;
  padding: 0 .5rem;
  background-color: white;
}
.hot-search .hot-search-cont > div {
  padding: .5rem 0;
  border-bottom: 1px solid #e5e5e5;
}
.hot-search .hot-search-cont > div:last-child {
  border-bottom: 0;
}
.hot-search .hot-search-cont > div ul {
  height: 2rem;
  line-height: 2rem;
  width: 100%;
}
.hot-search .hot-search-cont > div ul li {
  text-align: center;
  padding: 0 .5rem;
  border-right: 1px dashed #e5e5e5;
  float: left;
  width: 29%;
  -o-text-overflow: ellipsis;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.hot-search .hot-search-cont > div ul li:before,
.hot-search .hot-search-cont > div ul li:after {
  display: table;
  content: "";
}
.hot-search .hot-search-cont > div ul li:after {
  clear: both;
}
.hot-search .hot-search-cont > div ul li:before,
.hot-search .hot-search-cont > div ul li:after {
  display: table;
  content: "";
}
.hot-search .hot-search-cont > div ul li:after {
  clear: both;
}
.hot-search .hot-search-cont > div ul li:last-child {
  border: 0;
}
/*搜索 over*/
/*主题游*/
.extra-input-search input[type=text] {
  padding-left: 4.8rem;
}
.search-location {
  display: inline-block;
  width: 4rem;
  height: 2rem;
  line-height: 2rem;
  position: absolute;
  top: 50%;
  left: 2rem;
  margin-top: -0.5rem;
  border-right: 1px solid #C5C5C5;
  color: #3dc05b;
}
/*主题游 over*/
