html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]),
[hidden] {
  display: none;
}
.wrapper {
  padding: 10px;
}
.wrapper.combin-8 ul:before,
.wrapper.combin-8 ul:after {
  display: table;
  content: "";
}
.wrapper.combin-8 ul:after {
  clear: both;
}
.wrapper.combin-8 ul li {
  float: left;
  width: 50%;
  margin: 0;
  padding: 0;
}
.wrapper.combin-8 li {
  text-align: center;
}
.btn {
  display: inline-block;
  margin-bottom: .1em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: .4em 1.2em;
  line-height: 1.5em;
  text-align: center;
  text-decoration: none;
}
.btn.full {
  display: block;
}
.btn.angle {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
html {
  height: 100%;
  font-family: "Microsoft YaHei";
  font-size: 62.5%;
}
body {
  font-size: 1.4rem;
  background-color: #f5f5f5;
  color: #666666;
  min-height: 100%;
}
input {
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}
a {
  color: #666666;
  text-decoration: none;
}
a img {
  border: 0;
}
a.link,
a:visited {
  color: #666666;
}
.row {
  padding: 10px 10px;
}
.row:before,
.row:after {
  display: table;
  content: "";
}
.row:after {
  clear: both;
}
.row + .row {
  border-top: 1px solid #e5e5e5;
}
.row .a-expand {
  display: block;
  margin: -10px -10px;
  padding: 10px 10px;
}
.row .a-expand:before,
.row .a-expand:after {
  display: table;
  content: "";
}
.row .a-expand:after {
  clear: both;
}
.js-mask {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  text-align: center;
  vertical-align: middle;
}
.js-mask > * {
  text-align: initial;
}
.js-mask .js-mask-x,
.js-mask .js-mask-before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.js-mask > * {
  display: inline-block;
  text-align: initial;
}
.js-hide {
  display: none !important;
}
.js-relative {
  position: relative !important;
}
.js-inline-block {
  display: inline-block;
  margin: 0 1em;
}
.js-inline-block p {
  line-height: 1.5em;
}
.btn {
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  padding-right: 2.5em;
  padding-left: 2.5em;
  font-size: 1.4rem;
}
.btn.red {
  box-shadow: 0 0.1em 0 #ec2e2e;
  background-color: #ff6666;
  color: #ffffff;
}
.btn.red:hover {
  background-color: #ec2e2e;
}
.btn.green {
  box-shadow: 0 0.1em 0 #4eb682;
  background-color: #66cc99;
  color: #ffffff;
}
.btn.green:hover {
  background-color: #4eb682;
}
.btn.orange {
  box-shadow: 0 0.1em 0 #d58918;
  background-color: #f8b551;
  color: #ffffff;
}
.btn.orange:hover {
  background-color: #d58918;
}
.btn.gray {
  box-shadow: 0 0.1em 0 #999999;
  background-color: #bbbbbb;
  color: #ffffff;
}
.btn.gray:hover {
  background-color: #999999;
}
.btn.pink {
  box-shadow: 0 0.1em 0 #c1243e;
  background-color: #da4d69;
  color: #ffffff;
}
.btn.pink:hover {
  background-color: #c1243e;
}
.btn.small {
  padding-right: 1em;
  padding-left: 1em;
}
.btn.big {
  display: block;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  padding: .625em;
  font-size: 1.8rem;
}
.tonglan_1 {
  height: 30px;
  border-bottom: 2px solid #588bbd;
  background: #659ed7;
}
.tonglan_1 a {
  width: auto;
  height: 30px;
  overflow: hidden;
  display: block;
}
.tonglan_1 a h3 {
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  color: #fff;
  float: left;
}
