@import "editinfo.css";
/*运用eat 库重置*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
/* 排版 */
fieldset {
  margin: 25px auto;
  width: 1210px;
  *zoom: 1;
}
fieldset:before,
fieldset:after {
  display: table;
  content: "";
}
fieldset:after {
  clear: both;
}
legend {
  margin: 10px 0 10px;
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
  font-size: 20px;
  *zoom: 1;
}
legend:before,
legend:after {
  display: table;
  content: "";
}
legend:after {
  clear: both;
}
fieldset > *:nth-child(n + 2) {
  margin-bottom: 10px;
}
/* /排版 */
a {
  color: #268cc6;
  text-decoration: none;
}
a img {
  border: 0;
}
a:link,
a:visited {
  color: #888888;
}
a:hover {
  color: #ca363d;
}
/*颜色*/
/*字号值*/
/*行高值*/
/*行高 start*/
.line3 {
  line-height: 16px;
}
.line4 {
  line-height: 18px;
}
.line5 {
  line-height: 20px;
}
.line6 {
  line-height: 24px;
}
.lh150 {
  line-height: 150%;
}
.lh180 {
  line-height: 180%;
}
.lh200 {
  line-height: 200%;
}
/*行高 end*/
/*排版宽度值*/
/*边距值*/
/*字体*/
/*文字排版*/
.fb {
  font-weight: bold;
}
.fn {
  font-weight: normal;
}
.t1 {
  text-indent: 1em;
}
.t2 {
  text-indent: 2em;
}
.unl {
  text-decoration: underline;
}
.no_unl {
  text-decoration: none;
}
/*定位 start*/
.tl {
  text-align: left;
}
.tc,
.tc tr td,
.tc tr th {
  text-align: center;
}
.tr {
  text-align: right;
}
.bc {
  margin-left: auto;
  margin-right: auto;
}
.fl {
  float: left;
  display: inline;
}
.fr {
  float: right;
  display: inline;
}
.vm {
  vertical-align: middle;
}
/*解决IE7及更早浏览器下当li中出现2个或以上的浮动时，li之间产生的空白间隙的BUG,还可以加top | middle | bottom ,或者图片需要居中，注意配合display使用*/
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.zoom {
  zoom: 1;
}
/*解决IE6及更早浏览器下当li内部元素是定义了display:block的内联元素时底部产生空白的问题*/
.hide {
  visibility: hidden;
}
.none {
  display: none;
}
.btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-bottom: .1em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 25px;
  line-height: 1.5em;
  text-align: center;
  text-decoration: none;
}
.btn.full {
  display: block;
}
.btn.angle {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
body {
  font-size: 14px;
  color: #666666;
}
h1,
h2,
h3,
th,
.column-title,
.title,
.info-tit {
  font-family: "Microsoft YaHei";
}
.btn.red {
  box-shadow: 0 2px 0 #93171d;
  background-color: #ca363d;
  color: #ffffff;
}
.btn.red:hover {
  background-color: #e92f37;
}
.container,
.wrapper {
  width: 1200px;
  margin: auto;
}
.topnav,
.mainbav,
.footer,
.container,
.copyright {
  min-width: 1200px;
}
.container {
  *zoom: 1;
}
.container:before,
.container:after {
  display: table;
  content: "";
}
.container:after {
  clear: both;
}
.container.leftfix .leftsidebar {
  float: left;
  display: inline;
  width: 210px;
}
.container.leftfix .content {
  margin-left: 230px;
}
.container.rightfix .rightsidebar {
  float: right;
  display: inline;
  width: 210px;
}
.container.rightfix .content {
  margin-right: 230px;
}
/*信息模块*/
.info-column {
  border: 1px solid #dee1e7;
  background-color: #f5f6f8;
  margin-bottom: 20px;
}
.info-column .info-head {
  border-bottom: 2px solid #dee1e7;
  text-align: center;
  font-size: 18px;
  padding: 12px 5px;
}
.info-column .info-content {
  margin: 0 12px;
  font-size: 12px;
}
.info-column.enterprise-info {
  border-color: #ede9ce;
  background-color: #fffbf0;
}
.info-column.enterprise-info .info-head {
  color: #666666;
  border-bottom-color: #ede9ce;
}
.info-column.enterprise-info .info-content {
  border-bottom: 1px dashed #dee1e7;
}
.info-column.enterprise-info .info-content .info-tit {
  padding: 15px 0;
  font-size: 16px;
}
.info-column.enterprise-info .btn-wrap {
  padding: 20px;
  text-align: center;
}
.info-column.contactway-info .info-content {
  padding: 10px 0;
}
.info-column.picimg-info {
  background-color: #ffffff;
}
.info-column.picimg-info .info-head {
  background-color: #f5f6f8;
}
.info-column.picimg-info .info-content {
  margin: 0 24px 22px;
}
.info-column.picimg-info .info-content .pic-img {
  margin-top: 22px;
}
.info-column.picimg-info .info-content .pic-img a {
  display: block;
}
.info-column.picimg-info .info-content .pic-img .img {
  margin-bottom: 5px;
  text-align: center;
}
.info-column.picimg-info .info-content .pic-img .img img {
  display: block;
  border: 1px solid #dee1e7;
}
.info-column.picimg-info .info-content .pic-img .info {
  height: 24px;
  line-height: 24px;
  text-align: center;
}
/*图文模块*/
.picimg-list {
  *zoom: 1;
}
.picimg-list:before,
.picimg-list:after {
  display: table;
  content: "";
}
.picimg-list:after {
  clear: both;
}
.picimg-list .picimg-list-wrap {
  margin-left: -30px;
  float: left;
  width: 1010px;
  *zoom: 1;
}
.picimg-list .picimg-list-wrap:before,
.picimg-list .picimg-list-wrap:after {
  display: table;
  content: "";
}
.picimg-list .picimg-list-wrap:after {
  clear: both;
}
.picimg-list .picimg-list-wrap a {
  display: block;
  color: #268cc6;
}
.picimg-list .picimg-list-wrap a:hover {
  color: #ca363d;
}
.picimg-list .picimg-list-wrap li {
  float: left;
  display: inline;
  margin-left: 30px;
  margin-bottom: 20px;
  width: 220px;
  overflow: hidden;
}
.picimg-list .picimg-list-wrap.col-05 {
  margin-left: -25px;
  width: 1225px;
}
.picimg-list .picimg-list-wrap.col-05 li {
  margin-left: 25px;
  width: 220px;
}
.picimg-list .picimg-list-wrap.col-05 li .img {
  height: 165px;
}
.picimg-list .picimg-list-wrap.col-06 {
  margin-left: -48px;
  width: 1248px;
}
.picimg-list .picimg-list-wrap.col-06 li {
  margin-left: 48px;
  width: 160px;
}
.picimg-list .picimg-list-wrap.col-06 li .img {
  height: 204px;
}
.picimg-list .picimg-list-wrap.col-06 li .info {
  text-align: center;
  color: #888888;
}
.picimg-list .row-03 .info {
  height: 30px;
}
.picimg-list .row-02 .info {
  height: 22px;
  text-align: center;
}
.picimg-list .img {
  margin-bottom: 3px;
  height: 220px;
  overflow: hidden;
}
.picimg-list .info {
  font-size: 12px;
  line-height: 150%;
  padding: 5px 0 5px;
  color: #268cc6;
}
.picimg-list .info a {
  height: 18px;
  overflow: hidden;
}
.picimg-list .company {
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  margin-top: 5px;
}
/*标题模块*/
.column-title {
  padding: 10px 0;
  border-bottom: 2px solid #dee1e7;
}
.column-title .title-name {
  font-size: 18px;
  display: inline-block;
}
/*搜索产品详情列表模块*/
.merchant-item {
  padding: 20px;
  background-color: #f9f9fa;
  border-bottom: 1px solid #dee1e7;
  font-size: 12px;
  overflow: hidden;
}
.merchant-item .merchant-details {
  float: left;
  display: inline;
  margin-right: 28px;
  padding-right: 10px;
  width: 305px;
  height: 154px;
  border-right: 1px dashed #dee1e7;
}
.merchant-item .merchant-details .title {
  color: #268cc6;
}
.merchant-item .merchant-details .img {
  float: left;
  margin-right: 20px;
  width: 78px;
  height: 78px;
}
.merchant-item .merchant-details .img img {
  display: block;
  border: 1px solid #dee1e7;
}
.merchant-item .merchant-details .info {
  padding-top: 10px;
  line-height: 150%;
}
.merchant-item .merchant-details .info p {
  margin: 5px 0;
}
.merchant-item .merchant-details .info .text {
  color: #268cc6;
}
.merchant-item .introduce {
  *zoom: 1;
}
.merchant-item .introduce:before,
.merchant-item .introduce:after {
  display: table;
  content: "";
}
.merchant-item .introduce:after {
  clear: both;
}
.merchant-item .introduce .info {
  float: left;
  width: 270px;
  margin-right: 25px;
}
.merchant-item .introduce .info .con {
  line-height: 1.5;
}
.merchant-item .introduce .img {
  margin-top: 20px;
}
.merchant-item .introduce .img-link {
  float: right;
  margin-top: 70px;
}
.merchant-item .introduce .more {
  color: #268cc6;
}
.merchant-item .introduce .more:hover {
  color: #ca363d;
}
.merchant-item .title {
  font-size: 16px;
  margin: 10px 0 15px;
}
/*新闻列表模块*/
.news-list {
  *zoom: 1;
}
.news-list:before,
.news-list:after {
  display: table;
  content: "";
}
.news-list:after {
  clear: both;
}
.news-list.col-02 li {
  float: left;
  width: 50%;
}
.news-list.col-02 li .info {
  padding-right: 40px;
}
.news-list .item {
  padding: 20px 0;
  border-bottom: 1px dashed #dee1e7;
}
.news-list .item a {
  display: block;
  color: #888888;
  overflow: hidden;
}
.news-list .item a:hover .date {
  background-color: #6e88e6;
}
.news-list .item a:hover h3 {
  color: #ca363d;
}
.news-list .item a:hover p {
  color: #ca363d;
}
.news-list .item .date {
  float: left;
  width: 60px;
  height: 60px;
  background-color: #bcc3ce;
  font-family: arial;
}
.news-list .item .date span,
.news-list .item .date i {
  display: block;
  text-align: center;
  color: #fff;
}
.news-list .item .date span {
  font-size: 34px;
  padding: 3px 5px 0;
}
.news-list .item .date i {
  padding: 0 5px 0;
  font-style: normal;
}
.news-list .item .info {
  margin-left: 75px;
}
.news-list .item .info h3 {
  font-size: 16px;
  padding: 5px 0;
  margin-bottom: 5px;
  color: #666666;
}
.news-list .item .info p {
  font-size: 12px;
  line-height: 150%;
}
.news-list .item .info .more {
  color: #ca363d;
}
/*新闻信息栏目*/
.news-picimg {
  *zoom: 1;
}
.news-picimg:before,
.news-picimg:after {
  display: table;
  content: "";
}
.news-picimg:after {
  clear: both;
}
.news-picimg .modul {
  *zoom: 1;
}
.news-picimg .modul:before,
.news-picimg .modul:after {
  display: table;
  content: "";
}
.news-picimg .modul:after {
  clear: both;
}
.news-picimg .modul .img {
  width: 200px;
  height: 150px;
  float: left;
  display: inline;
  margin-right: 10px;
}
.news-picimg .modul .info {
  padding-right: 20px;
}
.news-picimg .modul .info .tis {
  display: block;
  height: 15px;
  padding: 12px 0 0;
  margin-bottom: 10px;
  line-height: 15px;
}
.news-picimg .modul .info .tis .clock-ioc {
  float: left;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  background: url("../images/clock-ico.png") no-repeat;
}
.news-picimg .modul .info .title {
  font-size: 16px;
  margin-bottom: 15px;
}
.news-picimg .modul .info .title a {
  color: #666666;
}
.news-picimg .modul .info .title a:hover {
  color: #ca363d;
}
.news-picimg .modul .info p {
  font-size: 12px;
  line-height: 150%;
}
.news-picimg.col-02 .modul {
  float: left;
  width: 50%;
  display: inline;
}
/*筛选模块*/
.screen-list {
  border: 1px solid #dee1e7;
}
.screen-list .modeul {
  border-top: 1px dashed #dee1e7;
}
.screen-list .modeul:first-child {
  border: none;
}
.screen-list .modeul .name {
  padding-top: 10px;
  float: left;
  width: 120px;
  display: inline;
  text-align: center;
  line-height: 25px;
  font-size: 14px;
}
.screen-list .modeul .item {
  margin-left: 120px;
  padding: 0 40px 10px 10px;
  overflow: hidden;
}
.screen-list .modeul .item .item-list {
  padding-top: 10px;
  overflow: hidden;
}
.screen-list .modeul .item .item-list .item-valuelist {
  float: left;
  overflow: hidden;
  position: relative;
}
.screen-list .modeul .item .item-list .item-valuelist li {
  float: left;
  height: 25px;
  line-height: 25px;
  margin: 0 8px 4px 0;
}
.screen-list .modeul .item .item-list .item-valuelist li a {
  float: left;
  white-space: nowrap;
  font-size: 12px;
  padding: 0 5px;
}
.screen-list .modeul .item .item-list .item-valuelist li.on {
  background-color: #6e88e6;
}
.screen-list .modeul .item .item-list .item-valuelist li.on a {
  color: #fff;
}
/*顶导航模块*/
.topnav {
  height: 30px;
  line-height: 30px;
  width: 100%;
}
.topnav .wrapper {
  *zoom: 1;
  font-size: 12px;
}
.topnav .wrapper:before,
.topnav .wrapper:after {
  display: table;
  content: "";
}
.topnav .wrapper:after {
  clear: both;
}
.topnav .wrapper ul li {
  position: relative;
  padding: 0 12px;
}
.topnav .wrapper ul li s {
  position: absolute;
  height: 12px;
  width: 0;
  left: 0;
  top: 9px;
  overflow: hidden;
}
.topnav .nav-left {
  float: left;
  overflow: hidden;
}
.topnav .nav-left li {
  float: left;
}
.topnav .nav-left li.index {
  padding: 0;
}
.topnav .nav-left li.register s {
  border-left: 1px solid #666;
}
.topnav .nav-right {
  float: right;
}
.topnav .nav-right li {
  float: left;
}
.topnav .nav-right li s {
  border-left: 1px solid #666;
}
.topnav.black {
  background-color: #333333;
}
.topnav.black .loginbar a {
  color: #ff6666;
}
.topnav.gray {
  background-color: #eff3f2;
}
/*主导航*/
.mainbav {
  height: 80px;
  width: 100%;
  background-color: #6e88e6;
}
.mainbav .wrapper {
  *zoom: 1;
}
.mainbav .wrapper:before,
.mainbav .wrapper:after {
  display: table;
  content: "";
}
.mainbav .wrapper:after {
  clear: both;
}
.mainbav .wrapper .logo {
  float: left;
  margin-top: 14px ;
  padding-left: 10px;
}
.mainbav .wrapper .logo a {
  width: 342px;
  height: 54px;
  display: block;
  background: url("../images/logo-img.png") no-repeat;
}
.mainbav .wrapper .search {
  float: right;
  margin-top: 28px;
  font-family: "Microsoft YaHei";
  font-size: 12px;
}
.mainbav .wrapper .search .search-wrap {
  position: relative;
  width: 177px;
  height: 30px;
  padding-right: 40px;
  background: url("../images/seach-img.png") no-repeat;
}
.mainbav .wrapper .search .search-wrap .search-op {
  float: left;
  height: 14px;
  padding: 8px 14px;
  margin-right: 5px;
  position: relative;
  cursor: pointer;
}
.mainbav .wrapper .search .search-wrap .search-op i {
  display: block;
  position: absolute;
  right: 0;
  top: 10px;
  width: 11px ;
  height: 6px;
  background: url("../images/search-arrow.png") no-repeat;
}
.mainbav .wrapper .search .search-wrap .search-op ul {
  position: absolute;
  top: 28px;
  left: 10px;
  width: 46px;
  background-color: #fff;
  display: none;
  border: 1px solid #dee1e7;
  border-top: 0;
  overflow: hidden;
  cursor: pointer;
}
.mainbav .wrapper .search .search-wrap .search-op ul li {
  padding: 4px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  border-bottom: 1px dashed #dee1e7;
  margin-bottom: -1px;
}
.mainbav .wrapper .search .search-wrap .search-input {
  width: 110px;
  padding-top: 6px;
  overflow: hidden;
}
.mainbav .wrapper .search .search-wrap .search-input input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: #888;
}
.mainbav .wrapper .search .search-wrap .search-btn {
  position: absolute;
  right: 15px;
  top: 6px;
}
.mainbav .wrapper .search .search-wrap .search-btn input {
  border: none!important;
  cursor: pointer;
  height: 18px;
  width: 18px;
  background: url("../images/search-btn.png") no-repeat;
  outline: none!important;
}
.mainbav .wrapper .mainbav-wrap {
  margin-left: 380px;
  *zoom: 1;
}
.mainbav .wrapper .mainbav-wrap:before,
.mainbav .wrapper .mainbav-wrap:after {
  display: table;
  content: "";
}
.mainbav .wrapper .mainbav-wrap:after {
  clear: both;
}
.mainbav .wrapper .mainbav-wrap li {
  float: left;
  padding: 0 40px ;
  position: relative;
}
.mainbav .wrapper .mainbav-wrap li a {
  display: block;
  padding: 32px 0 21px;
}
.mainbav .wrapper .mainbav-wrap li a em {
  display: block;
  height: 25px;
  font-family: "Microsoft Yahei";
  line-height: 25px;
  padding: 0 15px;
  font-size: 24px;
  color: #fff;
}
.mainbav .wrapper .mainbav-wrap li s {
  position: absolute;
  height: 25px;
  width: 0;
  left: 0;
  border-left: 1px dotted #dee1e7;
}
.mainbav .wrapper .mainbav-wrap li:first-child s {
  border-left: none;
}
.mainbav .wrapper .mainbav-wrap li.on a {
  border-bottom: 2px solid #ffcc00;
}
/*公告栏模块*/
.announcement {
  line-height: 42px;
  background-color: #ffffff;
}
.announcement span {
  display: block;
  padding-left: 30px;
  background: url("../images/horm.png") no-repeat left center;
}
.announcement span a {
  font-size: 12px;
  color: #6e88e6;
}
/*页尾模块*/
.footer.col-06 dl {
  width: 175px;
  float: left;
  padding-left: 65px;
  padding-top: 25px;
}
.footer .wrapper {
  *zoom: 1;
  padding: 0 0 25px;
  border-top: 2px solid #dee1e7;
}
.footer .wrapper:before,
.footer .wrapper:after {
  display: table;
  content: "";
}
.footer .wrapper:after {
  clear: both;
}
.footer .wrapper dl dt {
  font-size: 20px;
  margin-bottom: 10px;
  font-family: "Microsoft YaHei";
}
.footer .wrapper dl dd {
  margin: 8px 0;
  font-size: 12px;
}
.footer .wrapper .fore1,
.footer .wrapper .fore2,
.footer .wrapper .fore3,
.footer .wrapper .fore4,
.footer .wrapper .fore5,
.footer .wrapper .fore6 {
  background-repeat: no-repeat;
}
.footer .wrapper .fore1 {
  background-image: url("../images/gysfu-ico.png");
  background-position: 10px 15px;
}
.footer .wrapper .fore2 {
  background-image: url("../images/wsgz-ico.png");
  background-position: 10px 15px;
}
.footer .wrapper .fore3 {
  background-image: url("../images/gysfu-ico.png");
  background-position: 10px 15px;
}
.footer .wrapper .fore4 {
  background-image: url("../images/cgsfw-ico.png");
  background-position: 10px 15px;
}
.footer .wrapper .fore5 {
  background-image: url("../images/cxfw-ico.png");
  background-position: 10px 15px;
}
.footer .wrapper .fore6 {
  background-image: url("../images/kfbz-ico.png");
  background-position: 10px 15px;
}
/*版权信息*/
.copyright {
  padding: 20px 0;
  text-align: center;
  color: #888888;
  font-size: 12px;
  border-top: 2px solid #dee1e7;
}
.copyright .links {
  margin-bottom: 10px;
}
.copyright .links a {
  padding: 0 15px;
}
/* pager 分页样式 来自pager.css*/
.pager-wrap {
  *zoom: 1;
  margin-top: 24px;
}
.pager-wrap:before,
.pager-wrap:after {
  display: table;
  content: "";
}
.pager-wrap:after {
  clear: both;
}
.pager {
  width: 800px;
  margin: 0 auto;
}
.pager .current {
  display: inline-block;
  float: left;
  height: 32px;
  line-height: 32px;
  margin-right: 10px;
}
.pager .current .current-page {
  color: #ca363d;
  padding: 0 5px;
}
.pager ul.pages {
  display: block;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0 0 0 0;
  padding: 0;
  color: #000;
}
.pager ul.pages li {
  float: left;
  margin-left: 3px;
}
.pager ul.pages li a {
  display: block;
  border: 1px solid #ccc;
  text-decoration: none;
  padding: 9px 12px;
  background-color: #FFF;
}
.pager ul.pages li a:hover {
  border: 1px solid #6e88e6;
  background: #6e88e6;
  color: #fff;
}
.pager ul.pages li a:hover a {
  background: #6e88e6;
  color: #fff;
}
.pager ul.pages li.pgEmpty a,
.pager ul.pages .pgEmpty:hover a {
  border: 1px solid #ccc;
  color: #888;
  background: none;
  background-color: #FFF;
  cursor: default;
}
.pager ul.pages li.pgCurrent a,
.pager ul.pages li.pgCurrent :hover a {
  border: 1px solid #6e88e6 !important;
  border-style: none;
  font-weight: 700;
  color: #fff;
  background: #6e88e6;
  cursor: default;
}
/*产品信息*/
#product-intro {
  /*padding-left: 330px;*/
  position: relative;
}
.product-intro-wrap {
  height: 416px;
}
#preview {
  /*  left: 0;
  position: absolute;
   top: 0;
   top:34px;*/
  width: 320px;
  float: left;
}
#spec-n1 {
  border: 1px solid #DDDDDD;
  height: 318px;
  /*height:356px;*/
  margin-bottom: 8px;
  width: 318px;
}
#spec-n1 #bigImg {
  width: 318px;
  height: 318px;
  overflow: hidden;
}
.jqzoom {
  padding: 0;
  position: relative;
}
#spec-list {
  height: 54px;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  width: 270px;
}
#spec-list .spec-items li {
  font-size: 0;
  position: relative;
  text-align: center;
  width: 68px;
  float: left;
}
#preview #spec-list a.disabled {
  cursor: default;
}
#spec-forward.disabled {
  background-position: -68px -139px;
}
#spec-forward:hover {
  background-position: -34px -139px;
}
.spec-control {
  background-image: url(../images/newicon20130617.png);
  background-repeat: no-repeat;
}
#spec-list .spec-control {
  display: block;
  height: 54px;
  position: absolute;
  top: 0;
  width: 17px;
}
#spec-forward {
  background-position: 0 -139px;
  left: 0;
}
#spec-backward {
  background-position: -17px -139px;
  right: 0;
}
#spec-backward.disabled {
  background-position: -85px -139px;
}
#spec-backward:hover {
  background-position: -51px -139px;
}
#spec-list .spec-items img.img-hover {
  border: 2px solid #E4393C;
  padding: 0;
}
#spec-list .spec-items img {
  border: 1px solid #CECFCE;
  height: 50px;
  padding: 1px;
  width: 50px;
}
/* jquery zoom */
.zoomPad {
  position: relative;
  z-index: 15;
  cursor: move;
}
.zoomPreload {
  opacity: 0.8;
  filter: alpha(opacity=80);
  color: #333;
  font-size: 12px;
  text-decoration: none;
  border: 1px solid #CCC;
  background-color: white;
  padding: 8px;
  text-align: center;
  background-image: url(../images/zoomloader.gif);
  background-repeat: no-repeat;
  background-position: center 25px;
  z-index: 110;
  width: 90px;
  height: 43px;
  position: absolute;
  top: 0px;
  left: 0px;
  *width: 100px;
  *height: 49px;
}
.zoomPup {
  overflow: hidden;
  background-color: #FFF;
  opacity: 0.6;
  filter: alpha(opacity=60);
  z-index: 120;
  position: absolute;
  border: 1px solid #CCC;
  z-index: 101;
  cursor: move;
}
.zoomOverlay {
  position: absolute;
  left: 0px;
  top: 0px;
  background: #FFF;
  /*opacity:0.5;*/
  z-index: 5000;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 101;
}
.zoomWindow {
  position: absolute;
  left: 110%;
  top: 40px;
  background: #FFF;
  z-index: 6000;
  height: auto;
  z-index: 10000;
  z-index: 110;
}
.zoomWrapper {
  position: relative;
  border: 1px solid #999;
  z-index: 110;
}
.zoomWrapperTitle {
  display: block;
  background: #999;
  color: #FFF;
  height: 18px;
  line-height: 18px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  font-size: 12px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 120;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.zoomWrapperImage {
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 110;
}
.zoomWrapperImage img {
  border: 0px;
  display: block;
  position: absolute;
  z-index: 101;
}
.zoomIframe {
  z-index: -1;
  opacity: 0.008;
  filter: alpha(opacity=0.8);
  position: absolute;
  display: block;
}
#spec-list {
  height: 54px;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  width: 270px;
}
#spec-list .spec-items li {
  font-size: 0;
  position: relative;
  text-align: center;
  width: 68px;
}
#preview #spec-list a.disabled {
  cursor: default;
}
#spec-forward.disabled {
  background-position: -68px -139px;
}
#spec-forward:hover {
  background-position: -34px -139px;
}
.spec-control {
  background-image: url(../images/newicon20130617.png);
  background-repeat: no-repeat;
}
#spec-list .spec-control {
  display: block;
  height: 54px;
  position: absolute;
  top: 0;
  width: 17px;
}
/*end放大镜图片*/
#name {
  padding-bottom: 10px;
  color: #333;
}
#product-intro #name h1 {
  font-size: 18px;
}
#product-intro #name h1 strong {
  font-weight: normal;
  color: #E4393C;
}
#summary {
  margin-left: 340px;
}
#summary li {
  clear: both;
  overflow: hidden;
  padding: 6px 0;
  font-family: "Microsoft YaHei";
  zoom: 1;
}
#price_list {
  /*width:320px;
  position:absolute;
  top:0px; right:0;*/
}
#price_list .price_table tr th {
  height: 44px;
  line-height: 44px;
  font-weight: normal;
  background-color: #f5f6f8;
  font-size: 16px;
  text-align: center;
}
#price_list .price_table tr td {
  height: 36px;
  line-height: 36px;
  border-bottom: 1px dashed #dddbdc;
  font-size: 14px;
  padding: 0 10px;
}
#price_list .prece-name {
  width: 80px;
  text-align: right;
}
/*产品介绍模块*/
.detail-list {
  overflow: hidden;
  padding: 15px 0;
  border-bottom: 1px dashed #e6e8eb;
  *zoom: 1;
}
.detail-list:before,
.detail-list:after {
  display: table;
  content: "";
}
.detail-list:after {
  clear: both;
}
.detail-list li {
  float: left;
  overflow: hidden;
  padding: 5px 20px 5px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 300px;
}
/*收藏企业模块*/
.collsect-info {
  position: relative;
  padding: 22px 0;
  border: 1px solid #dee1e7;
  background-color: #fff;
  *zoom: 1;
}
.collsect-info:before,
.collsect-info:after {
  display: table;
  content: "";
}
.collsect-info:after {
  clear: both;
}
.collsect-info .info-tit {
  margin-bottom: 10px;
}
.collsect-info .info-tit span {
  display: inline-block;
  padding: 5px 15px;
  background-color: #b9c0cb;
  color: #fff;
  font-size: 16px;
}
.collsect-info.col-03 .model-01 {
  float: left;
  display: inline;
  width: 230px;
  padding: 0 32px;
}
.collsect-info.col-03 .model-02 {
  margin-left: 294px;
  margin-right: 394px;
  padding: 0 32px;
  border-left: 1px dashed #dee1e7;
}
.collsect-info.col-03 .model-03 {
  float: right;
  display: inline;
  width: 330px;
  padding: 0 32px;
  height: 240px;
  border-left: 1px dashed #dee1e7;
}
.collsect-info .item {
  *zoom: 1;
  line-height: 200%;
}
.collsect-info .item:before,
.collsect-info .item:after {
  display: table;
  content: "";
}
.collsect-info .item:after {
  clear: both;
}
.collsect-info .item.fs-03 .item-name {
  width: 60px;
}
.collsect-info .item.fs-03 .item-des {
  margin-left: 60px;
}
.collsect-info .item.fs-04 .item-name {
  width: 70px;
}
.collsect-info .item.fs-04 .item-des {
  margin-left: 70px;
}
.collsect-info .item .item-name {
  float: left;
  display: inline;
  width: 45px;
}
.collsect-info .item .item-des {
  margin-left: 45px;
}
.collsect-info .info-text {
  line-height: 200%;
}
.collsect-info .collect-ico {
  position: absolute;
  right: 10px;
  top: -3px;
  width: 120px;
  height: 40px;
  background: url("../images/collect-ico.png") no-repeat;
}
.collsect-info .collect-ico:hover {
  background: url("../images/collect-05.png") no-repeat;
}
/*表格信息模块*/
.table-info {
  font-size: 12px;
  border: 1px solid #dee1e7;
  border-collapse: collapse;
}
.table-info tbody tr td {
  border: 1px solid #dee1e7;
  padding: 15px;
}
.table-info .name {
  background-color: #f5f6f8;
  text-align: center;
}
/*轮播焦点图*/
.column-focus {
  position: relative;
  height: 234px;
}
.column-focus .focus-list {
  position: relative;
  overflow: hidden;
  height: 234px;
}
.column-focus .focus-list ul {
  *zoom: 1;
  position: absolute;
  height: 234px;
  width: 2200px;
}
.column-focus .focus-list ul:before,
.column-focus .focus-list ul:after {
  display: table;
  content: "";
}
.column-focus .focus-list ul:after {
  clear: both;
}
.column-focus .focus-list ul li {
  float: left;
  width: 228px;
  height: 228px;
  margin-right: 93px;
  display: inline;
  padding: 3px;
  background-color: #fff;
}
.column-focus .focus-list ul li a {
  display: block;
}
.column-focus .focus-list ul li img {
  width: 228px;
  overflow: hidden;
}
.column-focus .prev,
.column-focus .next {
  width: 51px;
  height: 71px;
  position: absolute;
  top: 84px;
  display: none;
  text-indent: -999em;
  cursor: pointer;
  background-image: url("../images/arrow-ico.png");
  background-repeat: no-repeat;
}
.column-focus .prev {
  background-position: 0 0;
  left: 0;
  z-index: 88;
}
.column-focus .prev:hover {
  background-position: 0 -76px;
}
.column-focus .next {
  background-position: -53px 0;
  right: 0;
  z-index: 89;
}
.column-focus .next:hover {
  background-position: -53px -76px;
}
.enterprise-info .item {
  *zoom: 1;
  zoom: 0;
  line-height: 120%;
  margin-bottom: 10px;
}
.enterprise-info .item:before,
.enterprise-info .item:after {
  display: table;
  content: "";
}
.enterprise-info .item:after {
  clear: both;
}
.enterprise-info .item .item-name {
  float: left;
  display: inline;
  width: 65px;
  text-align: right;
}
.enterprise-info .gssmrz {
  *zoom: 1;
  color: #268cc6;
}
.enterprise-info .gssmrz:before,
.enterprise-info .gssmrz:after {
  display: table;
  content: "";
}
.enterprise-info .gssmrz:after {
  clear: both;
}
.enterprise-info .gssmrz .gsm-ico {
  float: left;
  display: block;
  width: 30px;
  height: 21px;
  margin-right: 8px;
  margin-top: -3px;
}
.contactway-info .item {
  *zoom: 1;
  zoom: 0;
  line-height: 120%;
  margin-bottom: 10px;
}
.contactway-info .item:before,
.contactway-info .item:after {
  display: table;
  content: "";
}
.contactway-info .item:after {
  clear: both;
}
.contactway-info .item .item-name {
  float: left;
  display: inline;
  width: 65px;
  text-align: right;
}
.contactway-info .item .item-des {
  margin-left: 65px;
}
/*收藏企业*/
.collsect-info .gssmrz {
  *zoom: 1;
  color: #268cc6;
}
.collsect-info .gssmrz:before,
.collsect-info .gssmrz:after {
  display: table;
  content: "";
}
.collsect-info .gssmrz:after {
  clear: both;
}
.collsect-info .gssmrz .gsm-ico {
  float: left;
  display: block;
  width: 30px;
  height: 21px;
  margin-right: 8px;
  margin-top: 3px;
}
/*企业首页*/
.enter-index .column-title {
  margin-bottom: 20px;
}
.enter-index .sub-title {
  font-family: "Microsoft YaHei";
  margin-bottom: 20px;
}
.enter-index .column-picimg,
.enter-index .column-tabinfo,
.enter-index .collsect-info {
  margin-bottom: 10px;
}
.enter-index .column-focus {
  margin-bottom: 20px;
}
/*展厅首页*/
.column-news .column-title .more {
  float: right;
  background: url("../images/tit-arrow.png") no-repeat;
  width: 13px;
  height: 24px;
}
.ext-col2-modu {
  *zoom: 1;
}
.ext-col2-modu:before,
.ext-col2-modu:after {
  display: table;
  content: "";
}
.ext-col2-modu:after {
  clear: both;
}
.ext-col2-modu .exc-enter {
  width: 570px;
  float: left;
  display: inline;
}
.ext-col2-modu .exc-enter .item {
  padding-right: 10px;
}
.ext-col2-modu .exc-enter .info-content {
  overflow: hidden;
}
.ext-col2-modu .exc-enter .info-content ul {
  margin-top: -1px;
}
.ext-col2-modu .exc-firm {
  float: right;
  width: 606px;
  display: inline;
}
.ext-col2-modu .exc-firm .picimg-list-wrap {
  width: 634px;
  margin-left: -28px;
}
.ext-col2-modu .exc-firm .picimg-list-wrap li {
  width: 130px;
  margin-left: 28px;
  margin-bottom: 0;
  margin-top: 25px;
}
.ext-col2-modu .exc-firm .picimg-list-wrap li .img {
  height: 75px;
}
.ext-col2-modu .exc-firm .picimg-list-wrap li .info {
  text-align: center;
  color: inherit;
  height: 26px;
  line-height: 26px;
}
.info-list {
  *zoom: 1;
}
.info-list:before,
.info-list:after {
  display: table;
  content: "";
}
.info-list:after {
  clear: both;
}
.info-list li {
  float: left;
  width: 50%;
}
.info-list li .item {
  border-top: 1px dashed #dee1e7;
  padding: 25px 0;
  height: 20px;
  line-height: 20px;
}
.info-list li .img {
  float: left;
  display: inline;
  width: 33px;
  height: 20px;
  margin-right: 5px;
  background: url("../images/gsqy-ico.png") no-repeat;
}
/*优秀产品*/
.enter-product {
  *zoom: 1;
}
.enter-product:before,
.enter-product:after {
  display: table;
  content: "";
}
.enter-product:after {
  clear: both;
}
.enter-product .modul-l {
  float: left;
  display: inline;
}
.enter-product .modul-r {
  float: right;
  display: inline;
}
.enter-product .picimg-list-wrap {
  margin-left: 0;
  width: 880px;
}
.enter-product .picimg-list-wrap li {
  margin-left: 0;
  margin-bottom: 0;
  padding: 25px 0 22px;
  border-style: dashed;
  border-color: #dee1e7;
  width: 219px;
  text-align: center;
}
.enter-product .picimg-list-wrap .img {
  height: 170px;
  margin-top: 10px;
}
.enter-product .picimg-list-wrap .info a,
.enter-product .picimg-list-wrap .info a:link {
  color: #888888;
}
.enter-product .picimg-list-wrap .info a:hover {
  color: #ca363d;
}
.enter-product .picimg-list-wrap .fore1,
.enter-product .picimg-list-wrap .fore2,
.enter-product .picimg-list-wrap .fore3,
.enter-product .picimg-list-wrap .fore5,
.enter-product .picimg-list-wrap .fore6,
.enter-product .picimg-list-wrap .fore7 {
  border-right-width: 1px;
}
.enter-product .picimg-list-wrap .fore5,
.enter-product .picimg-list-wrap .fore6,
.enter-product .picimg-list-wrap .fore7,
.enter-product .picimg-list-wrap .fore8 {
  border-top-width: 1px;
}
.product-focus {
  width: 320px;
  height: 519px;
  position: relative;
  overflow: hidden;
}
.product-focus .pic-img {
  position: relative;
}
.product-focus .pic-img li {
  position: absolute;
  float: left;
}
.product-focus .pic-img li .info {
  padding: 10px 20px 45px;
  height: 50px;
  position: relative;
  margin-top: -105px;
  width: 280px;
  background-color: rgba(0, 0, 0, 0.5);
}
.product-focus .pic-img li .info a,
.product-focus .pic-img li .info a:link {
  display: block;
  line-height: 150%;
  color: #fff;
}
.product-focus .page {
  position: absolute;
  width: 100%;
  bottom: 15px;
  height: 14px;
  line-height: 14px;
  text-align: center;
}
.product-focus .page li {
  display: inline-block;
  width: 20px;
  height: 10px;
  border: 1px solid #fff;
  text-indent: -999em;
  margin-left: 5px;
}
.product-focus .page li.on {
  border-color: #ff0000;
  background-color: #ff0000;
}
/*展厅标题控制*/
.zt-index .column-title {
  margin-bottom: 20px;
}
.zt-index .column-title .title-name {
  font-size: 24px;
}
.zt-index .news-column {
  overflow: hidden;
}
.zt-index .news-column .news-list {
  margin-top: -1px;
}
.zt-index .news-column .news-list li {
  border-top: 1px dashed #dee1e7;
  border-bottom: none;
}
.zt-index .column {
  margin-bottom: 80px;
}
.zt-index .enter-product {
  margin-bottom: 50px;
}
.body-wrapin {
  background: url("../images/index-bg.jpg") no-repeat top center;
}
.sider-focus {
  height: 695px;
  /* Carousel */
}
.sider-focus .sider-wrapper {
  position: relative;
  overflow: hidden;
  display: block;
}
.sider-focus #carousel1 {
  width: 1200px;
  height: 560px;
  overflow: hidden;
  position: relative;
  /*border-bottom:solid 1px #d8d9da;*/
  margin: 0 auto;
}
.sider-focus #carousel1 img {
  border: none;
  /*width:380px;*/
  /*height:300px;*/
  /*border:solid 1px #000;*/
  cursor: pointer;
}
.sider-focus #carousel1 #title-text {
  font-size: 22px;
  margin: 10px 20px 0 0;
  padding: 0;
  text-align: right;
}
.sider-focus #carousel1 #alt-text {
  font-size: 14px;
  margin: 5px 20px 0 0;
  padding: 0;
  text-align: right;
}
.sider-focus #carousel1 #user-c {
  padding: 0;
  position: absolute;
  right: 15px;
  bottom: 10px;
}
.sider-focus #carousel1 .carouselLeft,
.sider-focus #carousel1 .carouselRight {
  position: absolute;
  /*bottom:20px;*/
  /*width:29px;*/
  /*height:30px;*/
  top: 50%;
  width: 51px;
  height: 71px;
  overflow: hidden;
  cursor: pointer;
}
.sider-focus #carousel1 .carouselLeft {
  /* right:60px;
       background:url(images/templatemo_slider_right.png) no-repeat;*/
  left: 0;
  background: url(../images/arrow-prev1.png) no-repeat;
  z-index: 200;
}
.sider-focus #carousel1 .carouselLeft:hover {
  background: url(../images/arrow-prev.png) no-repeat;
}
.sider-focus #carousel1 .carouselRight {
  /* right:808px;
       background:url(images/templatemo_slider_left.png) no-repeat;*/
  right: 0;
  background: url(../images/arrow-next1.png) no-repeat;
  z-index: 200;
}
.sider-focus #carousel1 .carouselRight:hover {
  background: url(../images/arrow-next.png) no-repeat;
}
.sider-focus #carousel1 img.reflection {
  display: none;
}
.sider-focus .sider-btns {
  width: 1200px;
  height: 90px;
  margin: 0 auto;
  background: url('../images/sider-btns-bg.png') repeat;
  color: #fff;
}
.sider-focus .sider-btns ul {
  *zoom: 1;
}
.sider-focus .sider-btns ul:before,
.sider-focus .sider-btns ul:after {
  display: table;
  content: "";
}
.sider-focus .sider-btns ul:after {
  clear: both;
}
.sider-focus .sider-btns ul li {
  position: relative;
  float: left;
  width: 16.66666667%;
  height: 60px;
  margin: 15px 0 15px -2px;
  border-left: 2px solid #7d94e9;
}
.sider-focus .sider-btns ul li ul {
  display: block;
  position: absolute;
  left: 0;
  bottom: -108px;
  width: 100%;
  overflow: hidden;
  background: url('../images/sider-btns-bg.png') repeat;
  z-index: 300;
}
.sider-focus .sider-btns ul li ul li {
  width: 90%;
  height: 90px;
  margin: 0 5%;
  border-bottom: 1px solid #7d94e9;
  border-left: 0;
}
.sider-focus .sider-btns ul li ul li a {
  margin: 0 -5%;
}
.sider-focus .sider-btns a,
.sider-focus .sider-btns #sider-btn-more {
  display: block;
  height: 60px;
  margin: -15px 0;
  padding: 15px 0;
  color: #fff;
  text-align: center;
}
.sider-focus .sider-btns a:hover,
.sider-focus .sider-btns #sider-btn-more:hover {
  background: url('../images/sider-btn-hover.png') repeat;
}
.sider-focus .sider-btns #sider-btn-more {
  position: absolute;
  width: 100%;
  background: url('../images/sider-btns-bg.png') repeat;
  z-index: 400;
}
.sider-focus .sider-btns #sider-btn-more:hover {
  background: url('../images/sider-btn-more-hover.png') repeat;
}
#zizhizs .img span {
  display: block;
  border: 1px solid #dee1e7;
  height: 202px;
  overflow: hidden;
}
#enter-wh .img {
  height: 124px;
}
.bg-navi {
  background: url("../images/top-bg0.png") no-repeat center -15px;
}
.bg-navi .bg-navi-wrap {
  background: url("../images/navi-bg.png") no-repeat center;
  margin: 0 auto 30px auto;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  font-weight: bold;
  color: #666;
  min-width: 1200px;
}
.bg-navi .bg-navi-wrap ul {
  width: 1200px;
  margin: 0 auto;
  *zoom: 1;
}
.bg-navi .bg-navi-wrap ul:before,
.bg-navi .bg-navi-wrap ul:after {
  display: table;
  content: "";
}
.bg-navi .bg-navi-wrap ul:after {
  clear: both;
}
.bg-navi .bg-navi-wrap li {
  float: left;
}
.bg-navi .bg-navi-wrap li a {
  line-height: 50px;
  border-left: 1px solid #b2b2b2;
  padding: 0 30px;
}
.bg-navi .bg-navi-wrap li a:hover {
  color: #3399cc;
}
.bg-navi .bg-navi-wrap li:first-child a {
  border: none;
}
.bg-navi .top-title {
  width: 1200px;
  min-width: 1200px;
  margin: 0px auto 30px auto;
  padding-top: 50px;
  height: 110px;
  *zoom: 1;
}
.bg-navi .top-title:before,
.bg-navi .top-title:after {
  display: table;
  content: "";
}
.bg-navi .top-title:after {
  clear: both;
}
.bg-navi .title-logo {
  float: left;
  display: inline-block;
  width: 160px;
  height: 100px;
  background: rgba(255, 255, 255, 0.3);
  padding: 5px;
}
.bg-navi .title-com {
  float: left;
  color: #666;
  font: normal 36px/110px "Microsoft YaHei";
  display: inline-block;
  margin-left: 50px;
}
.column-title.qi {
  margin-bottom: 20px;
}
.column-title.qi-nobd {
  margin-bottom: 20px;
  border: none;
}
.pager-wrap.qi {
  margin: 20px 0;
  padding-top: 30px;
  border-top: 1px solid #ccc;
}
.pager-wrap.qi-dashed {
  margin: 20px 0;
  padding-top: 30px;
  border-top: 1px dashed #ccc;
}
.container.qi {
  margin-top: 15px;
}
.select-bar {
  background: #f5f6f8;
  border-bottom: 2px solid #dee1e7;
  line-height: 3em;
  height: 3em;
  padding: 0 10px;
  margin-bottom: 15px;
  font-size: 14px;
  *zoom: 1;
}
.select-bar:before,
.select-bar:after {
  display: table;
  content: "";
}
.select-bar:after {
  clear: both;
}
.select-bar .item {
  float: left;
  margin-right: 10px;
}
.select-bar select {
  line-height: 2em;
  width: 80px;
  height: 2em;
  font-size: 14px;
}
.product-profile {
  margin-top: 15px;
}
.list-top-ad-box {
  width: 100%;
  height: 150px;
  background: url("../images/list-top-ad-1.jpg") no-repeat top center;
}
.ad-tt-box {
  line-height: 150px;
  padding-left: 60px;
  color: #666666;
  font-size: 30px;
}
.ad-tt-box i {
  font-style: normal;
  color: #bbbbbb;
}
.ad-tt-box span {
  font-size: 24px;
  color: #bbbbbb;
}
.shownews_tt h1 {
  color: #666666;
  font-size: 24px;
  padding-bottom: 10px;
}
.shownews_tt p {
  color: #888888;
  font-size: 14px;
}
.page_box {
  padding: 10px 0 50px;
}
.next_pre_box {
  padding: 25px 0 50px;
  margin-top: 50px;
  border-top: 1px dotted #d2dae0;
}
.next_pre_box p {
  margin-bottom: 10px;
  color: #007fcc;
}
/**
 * Created by xyz on 2015/4/10.
 */
.focus {
  position: relative;
  *zoom: 1;
  width: 1200px;
  height: 600px;
}
.box {
  position: absolute;
}
.box .box-wrapin {
  position: relative;
  *zoom: 1;
  overflow: hidden;
  width: 600px;
  height: 500px;
}
.box .box-wrapin:hover .label {
  display: block;
}
.box .box-wrapin img {
  display: block;
}
.box .box-wrapin .stage {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.box .box-wrapin .stage img {
  width: 100%;
}
.box .box-wrapin .label {
  position: absolute;
  bottom: 5px;
  left: -37px;
  display: none;
  width: 100%;
}
.box .box-wrapin .label img {
  width: 220px;
}
.box .box-wrapin .image {
  position: absolute;
  bottom: 25px;
  left: 0;
  width: 100%;
}
.box .box-wrapin .image img {
  width: 500px;
  margin: 0 auto;
}
.box.box-45 .box-wrapin {
  width: 540px;
  height: 450px;
}
.box.box-45 .box-wrapin .label {
  bottom: 4.5px;
  left: -33.3px;
}
.box.box-45 .box-wrapin .label img {
  width: 198px;
}
.box.box-45 .box-wrapin .image {
  bottom: 22.5px;
}
.box.box-45 .box-wrapin .image img {
  width: 450px;
}
.box.box-40 {
  bottom: 0px;
  left: 400px;
  opacity: 1;
  filter: alpha(opacity=100);
  z-index: 40;
}
.box.box-40 .box-wrapin {
  width: 420px;
  height: 350px;
}
.box.box-40 .box-wrapin .label {
  bottom: 3.5px;
  left: -25.9px;
}
.box.box-40 .box-wrapin .label img {
  width: 154px;
}
.box.box-40 .box-wrapin .image {
  bottom: 17.5px;
}
.box.box-40 .box-wrapin .image img {
  width: 350px;
}
.box.box-35 {
  bottom: 35px;
  left: 90px;
  opacity: 0.9;
  filter: alpha(opacity=90);
  z-index: 35;
}
.box.box-35 .box-wrapin {
  width: 336px;
  height: 280px;
}
.box.box-35 .box-wrapin .label {
  bottom: 2.8px;
  left: -20.72px;
}
.box.box-35 .box-wrapin .label img {
  width: 123.2px;
}
.box.box-35 .box-wrapin .image {
  bottom: 14px;
}
.box.box-35 .box-wrapin .image img {
  width: 280px;
}
.box.box-30 {
  bottom: 100px;
  left: 605px;
  opacity: 0.45;
  filter: alpha(opacity=45);
  z-index: 30;
}
.box.box-30 .box-wrapin {
  width: 264px;
  height: 220px;
}
.box.box-30 .box-wrapin .label {
  bottom: 2.2px;
  left: -16.28px;
}
.box.box-30 .box-wrapin .label img {
  width: 96.8px;
}
.box.box-30 .box-wrapin .image {
  bottom: 11px;
}
.box.box-30 .box-wrapin .image img {
  width: 220px;
}
.box.box-25 {
  bottom: 128px;
  left: 80px;
  opacity: 0.35;
  filter: alpha(opacity=35);
  z-index: 25;
}
.box.box-25 .box-wrapin {
  width: 240px;
  height: 200px;
}
.box.box-25 .box-wrapin .label {
  bottom: 2px;
  left: -14.8px;
}
.box.box-25 .box-wrapin .label img {
  width: 88px;
}
.box.box-25 .box-wrapin .image {
  bottom: 10px;
}
.box.box-25 .box-wrapin .image img {
  width: 200px;
}
.box.box-20 {
  bottom: 168px;
  left: 380px;
  opacity: 0.25;
  filter: alpha(opacity=25);
  z-index: 20;
}
.box.box-20 .box-wrapin {
  width: 180px;
  height: 150px;
}
.box.box-20 .box-wrapin .label {
  bottom: 1.5px;
  left: -11.1px;
}
.box.box-20 .box-wrapin .label img {
  width: 66px;
}
.box.box-20 .box-wrapin .image {
  bottom: 7.5px;
}
.box.box-20 .box-wrapin .image img {
  width: 150px;
}
.ds-block {
  display: block!important;
}
