@import "editinfo.css";
/*运用eat 库重置*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
/* 排版 */
fieldset {
  margin: 25px auto;
  width: 1210px;
  *zoom: 1;
}
fieldset:before,
fieldset:after {
  display: table;
  content: "";
}
fieldset:after {
  clear: both;
}
legend {
  margin: 10px 0 10px;
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
  font-size: 20px;
  *zoom: 1;
}
legend:before,
legend:after {
  display: table;
  content: "";
}
legend:after {
  clear: both;
}
fieldset > *:nth-child(n + 2) {
  margin-bottom: 10px;
}
/* /排版 */
a {
  color: #f5384e;
  text-decoration: none;
}
a img {
  border: 0;
}
a:link,
a:visited {
  color: #888888;
}
a:hover {
  color: #c52b1e;
}
/*颜色*/
/*字号值*/
/*行高值*/
/*行高 start*/
.line3 {
  line-height: 16px;
}
.line4 {
  line-height: 18px;
}
.line5 {
  line-height: 20px;
}
.line6 {
  line-height: 24px;
}
.lh150 {
  line-height: 150%;
}
.lh180 {
  line-height: 180%;
}
.lh200 {
  line-height: 200%;
}
/*行高 end*/
/*排版宽度值*/
/*边距值*/
/*字体*/
/*文字排版*/
.fb {
  font-weight: bold;
}
.fn {
  font-weight: normal;
}
.t1 {
  text-indent: 1em;
}
.t2 {
  text-indent: 2em;
}
.unl {
  text-decoration: underline;
}
.no_unl {
  text-decoration: none;
}
/*定位 start*/
.tl {
  text-align: left;
}
.tc,
.tc tr td,
.tc tr th {
  text-align: center;
}
.tr {
  text-align: right;
}
.bc {
  margin-left: auto;
  margin-right: auto;
}
.fl {
  float: left;
  display: inline;
}
.fr {
  float: right;
  display: inline;
}
.vm {
  vertical-align: middle;
}
/*解决IE7及更早浏览器下当li中出现2个或以上的浮动时，li之间产生的空白间隙的BUG,还可以加top | middle | bottom ,或者图片需要居中，注意配合display使用*/
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.zoom {
  zoom: 1;
}
/*解决IE6及更早浏览器下当li内部元素是定义了display:block的内联元素时底部产生空白的问题*/
.hide {
  visibility: hidden;
}
.none {
  display: none;
}
