/**
 * Created by xyz on 2015/3/24.
 */
.sign-1:before{content: '\12001';}
.sign-2:before{content: '\12002';}
.sign-3:before{content: '\12004';}
.sign-4:before{content:'\12005';}
.sign-5:before{content:'\12006';}
.sign-6:before{content:'\12007';}
.sign-7:before{content:'\12008';}
.sign-8:before{content:'\12009';}
.sign-9:before{content:'\12010';}
.sign-10:before{content:'\12011';}
.sign-11:before{content:'\12012';}
.sign-12:before{content:'\12013';}
.sign-13:before{content:'\12014';}
.sign-14:before{content:'\12015';}
.sign-15:before{content:'\12016';}
.sign-16:before{content:'\12017';}
.sign-17:before{content:'\12018';}
.sign-18:before{content:'\12019';}
.sign-19:before{content:'\12020';}
.sign-20:before{content:'\12021';}
.sign-21:before{content:'\12022';}
.sign-22:before{content:'\12023';}
.sign-23:before{content:'\12024';}
.sign-24:before{content:'\12025';}
.sign-25:before{content:'\12026';}
.sign-26:before{content:'\12027';}
.sign-27:before{content:'\12028';}
.sign-28:before{content:'\12029';}
.sign-29:before{content:'\12030';}
.sign-30:before{content:'\12031';}
.sign-31:before{content:'\12032';}
.sign-32:before{content:'\12033';}
.sign-33:before{content:'\12034';}
.sign-34:before{content:'\12035';}
.sign-35:before{content:'\12036';}
.sign-36:before{content:'\12037';}
.sign-37:before{content:'\12038';}
.sign-38:before{content:'\12039';}
.sign-39:before{content:'\12040';}
.sign-40:before{content:'\12046';}
.sign-41:before{content:'\12047';}
.sign-42:before{content:'\12048';}
.sign-43:before{content:'\12049';}
.sign-44:before{content:'\12050';}
.sign-45:before{content:'\12051';}
.sign-46:before{content:'\12052';}
.sign-47:before{content:'\12053';}
.sign-48:before{content:'\12054';}
.sign-49:before{content:'\12055';}
.sign-50:before{content:'\12066';}
.sign-51:before{content:'\12067';}
.sign-52:before{content:'\12068';}
.sign-53:before{content:'\12069';}
.sign-54:before{content:'\12070';}
.sign-55:before{content:'\12071';}
.sign-56:before{content:'\12072';}
.sign-57:before{content:'\12073';}
.sign-58:before{content:'\12074';}
.sign-59:before{content:'\12075';}
.sign-60:before{content:'\12076';}
.sign-61:before{content:'\12077';}
.sign-62:before{content:'\12078';}
.sign-63:before{content:'\12079';}
.sign-64:before{content:'\12080';}
.sign-65:before{content:'\12081';}
.sign-66:before{content:'\12082';}
.sign-67:before{content:'\12083';}
.sign-68:before{content:'\12084';}
.sign-69:before{content:'\12090';}
.sign-70:before{content:'\12091';}
.sign-71:before{content:'\12092';}
.sign-72:before{content:'\12093';}
.sign-73:before{content:'\12095';}
.sign-74:before{content:'\12096';}
.sign-75:before{content:'\12097';}
.sign-76:before{content:'\12098';}
.sign-77:before{content:'\12099';}
.sign-78:before{content:'\12100';}
.sign-79:before{content:'\12102';}
.sign-80:before{content:'\12103';}
.sign-81:before{content:'\12104';}
.sign-82:before{content:'\12105';}
.sign-83:before{content:'\12106';}
.sign-84:before{content:'\12107';}
.sign-85:before{content:'\12108';}
.sign-86:before{content:'\12109';}
.sign-87:before{content:'\12041';}
.sign-88:before{content:'\12042';}
.sign-89:before{content:'\12043';}
.sign-90:before{content:'\12044';}
.sign-91:before{content:'\12045';}
.sign-92:before{content:'\12056';}
.sign-93:before{content:'\12057';}
.sign-94:before{content:'\12058';}
.sign-95:before{content:'\12059';}
.sign-96:before{content:'\12060';}
.sign-97:before{content:'\12061';}
.sign-98:before{content:'\12062';}
.sign-99:before{content:'\12063';}
.sign-100:before{content:'\12064';}
.sign-101:before{content:'\12065';}
.sign-102:before{content:'\12085';}
.sign-103:before{content:'\12086';}
.sign-104:before{content:'\12087';}
.sign-105:before{content:'\12088';}
.sign-106:before{content:'\12089';}
.sign-107:before{content:'\12110';}
.sign-108:before{content:'\12111';}
.sign-109:before{content:'\12112';}
.sign-110:before{content:'\12113';}
.sign-111:before{content:'\12114';}
.sign-112:before{content:'\12115';}
.sign-113:before{content:'\12116';}
.sign-114:before{content:'\12117';}
.sign-115:before{content:'\12118';}
.sign-116:before{content:'\12119';}
.sign-117:before{content:'\12120';}
.sign-118:before{content:'\12121';}
.sign-119:before{content:'\12122';}
.sign-120:before{content:'\12123';}
.sign-121:before{content:'\12124';}
.sign-122:before{content:'\12125';}
.sign-123:before{content:'\12126';}
.sign-124:before{content:'\12127';}
.sign-125:before{content:'\12128';}
.sign-126:before{content:'\12129';}
.sign-127:before{content:'\12130';}
.sign-128:before{content:'\12131';}
.sign-129:before{content:'\12132';}
.sign-130:before{content:'\12133';}
.sign-131:before{content:'\12134';}
.sign-132:before{content:'\12135';}
.sign-133:before{content:'\12136';}
.sign-134:before{content:'\12137';}
.sign-135:before{content:'\12138';}
.sign-136:before{content:'\12139';}
.sign-137:before{content:'\12140';}
.sign-138:before{content:'\12141';}
.sign-139:before{content:'\12142';}
.sign-140:before{content:'\12143';}
.sign-141:before{content:'\12144';}
.sign-142:before{content:'\12146';}
.sign-143:before{content:'\12147';}
.sign-144:before{content:'\12148';}
.sign-145:before{content:'\12149';}
.sign-146:before{content:'\12150';}
.sign-147:before{content:'\12151';}
.sign-148:before{content:'\12152';}
.sign-149:before{content:'\12153';}
.sign-150:before{content:'\12154';}
.sign-151:before{content:'\12155';}
.sign-152:before{content:'\12156';}
.sign-153:before{content:'\12157';}
.sign-154:before{content:'\12158';}
.sign-155:before{content:'\12159';}
.sign-156:before{content:'\12160';}
.sign-157:before{content:'\12161';}
.sign-158:before{content:'\12162';}
.sign-159:before{content:'\12163';}
.sign-160:before{content:'\12164';}
.sign-161:before{content:'\12165';}
.sign-162:before{content:'\12166';}
.sign-163:before{content:'\12167';}
.sign-164:before{content:'\12168';}
.sign-165:before{content:'\12169';}
.sign-166:before{content:'\12170';}
.sign-167:before{content:'\12171';}
.sign-168:before{content:'\12172';}
.sign-169:before{content:'\12173';}
.sign-170:before{content:'\12174';}
.sign-171:before{content:'\12175';}
.sign-172:before{content:'\12176';}
.sign-173:before{content:'\12177';}
.sign-174:before{content:'\12178';}
.sign-175:before{content:'\12179';}
.sign-176:before{content:'\12180';}
.sign-177:before{content:'\12181';}
.sign-178:before{content:'\12182';}
.sign-179:before{content:'\12183';}
